<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/stylelawyer.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer.css" />
    <script type="text/javascript" src="__JS__/api.js"></script>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/mobile.js"></script>
    
</head>
<body>
<header class="header">
    <a href="javascript:void(0);"  class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
    <h2>委托详情</h2>
    <!--<a href="javascript:void (0);" class="search_btn set_btn">设置</a>-->
</header>
<section class="crowd_details_img">
    <img src="" id="icon">
    <div class="details_progress">
        <div class="details" style="margin-top: 0!important;">
            <ul>
                <li>
                    <span><b id='tmoney'>892.45</b>元 </span>
                    <p>目标金额</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="crowd_title">
        <h6 id='name'>儿子工作致盲，被单位抛弃</h6>
        <!--<p id="content">因操作不慎使一只眼睛完全看不清东西，却被单位狠心抛弃</p>-->
    </div>
</section>
<section class="crowd_details">
    <div class="common_title">
        <h6 style="font-weight: normal; font-size: 0.3rem;" id="wttype">众筹详情</h6>
    </div>
    <div class="content">
        <div id='content'>

        </div>
       
        <ul id='img'>
            <!--<li><img src="__IMG__/applyh_pic1.png" alt=""></li>
            <li><img src="__IMG__/applyh_pic2.png" alt=""></li>
            <li><img src="__IMG__/applyh_pic3.png" alt=""></li>-->
        </ul>
    </div>
</section>
<section class="comment_section" style="margin-bottom: 1.2rem!important;">
    <!-- <div class="news_title">
        <h2>我的投标信息</h2>
    </div>
    <div class="my_bidInfo">
        <div class="my_info">
            <div class="userInfo">
                <img src="__IMG__/userimg1.jpg" alt="">
                <div class="userName">
                    <h6>张岳伦律师 <i>LV.6</i></h6>
                    <span>2018-11-11  14:45</span>
                </div>
            </div>
            <div class="service_kinds">
                <dl>
                    <dd>遗产纠纷</dd>
                    <dd>劳动仲裁</dd>
                    <dd>人身损害</dd>
                    <dd>合同纠纷</dd>
                    <dd>家产分割</dd>
                </dl>
            </div>
        </div>
        <div class="withdraw">
            <p>3000元</p>
            <span class="withdraw_btn">撤标</span>
        </div>
    </div> -->
    <div class="news_title">
        <h2>竞标律师</h2>
    </div>
    <div class="comment_list">
        <ul id='con'>
            <!--<li>
                <div class="userInfo">
                    <img src="__IMG__/userimg1.jpg" alt="">
                    <div class="userName">
                        <h6>张岳伦律师 <i>LV.6</i></h6>
                        <span>2018-11-11  14:45</span>
                    </div>
                </div>
                <div class="service_kinds">
                    <dl>
                        <dd>遗产纠纷</dd>
                        <dd>劳动仲裁</dd>
                        <dd>人身损害</dd>
                        <dd>合同纠纷</dd>
                        <dd>家产分割</dd>
                    </dl>
                </div>
            </li>-->
            
        </ul>
    </div>
</section>
<section class="fixed_ask">
    <a href="javascript:;"  class="ask_btn bid_btn">我要投标</a>
</section>

<section class="fixed_bid">
    <div class="bid_section">
        <h2>请填写竞标报价</h2>
        <p>委托报价 <em id='price1'>3000.00-5000.00</em>元</p>
        <input type="text" placeholder="输入金额" id='money'>
        <span>竞标报价的高低也会对中标结果产生影响</span>
        <button class="sure_btn" type="submit" onclick="jionwt()">确定</button>
    </div>
</section>


</body><include file="Public/footer" /><script type="text/javascript" src="__JS__/lawyer.js"></script>

<script>
    var lastime=0
    var zcid
    var maxprice=0
    if(para('type')==1){
        var name='互助详情'
    }else if(para('type')==2){
        var name='众筹详情'
    }
    $('wttype').html(name)

    wtdetail()
    function wtdetail(){
        var p={id:para('id')}

            $.post(webSiteUrl+'/app/public/wtdetail',p,function(ret){

            if(ret.code==200){

                var info=ret.data.info;
                $('#price1').html(info.price);
                zcid=info.tid
                maxprice=info.maxprice

                if(info.over==1){
                    $('.fixed_ask').hide()
                }

                html = "";
                var tj=ret.data.list;
                if(tj != null){

                    for(var i=0;i<tj.length;i++){
                        html+='<li><div class="userInfo"><img src="'+webSiteUrl+tj[i].icon+'" alt=""><div class="userName"><h6>'+tj[i].nickname+'律师 <i>LV.6</i></h6><span>'+tj[i].time+'</span></div></div><div class="service_kinds"><dl>';

                        if(tj[i].label.length>0){
                            for(var j=0;j<tj[i].label.length;j++){
                                html+='<dd>'+tj[i].label[j]+'</dd>';
                            }
                        }
                        html+='</dl></div></li>';
                    }
                    $('#con').html(html);
                }else{
                    $('#con').html('<p style="text-align:center">暂无竞标</p>');
                }

                aaa()

            }
        });

    }

    function aaa(){
        if(para('type')==1){
            var model='hz'
        }else if(para('type')==2){
            var model='zc'
        }
        var p={'model':model,id:zcid}

            $.post(webSiteUrl+'/app/home/find',p,function(ret){
                var tj=ret.data

                $('#icon').attr('src',webSiteUrl+tj.icon)
                $('#name').html(tj.name)
                $('#content').html(tj.content)
                //$('#detail').html(tj.detail)
                $('#tmoney').html(tj.money)

                var html='';
                var img=tj.icons
                if(img!=null){
                    for(var i=0;i<img.length;i++){
                        html+=' <li><img src="'+webSiteUrl+img[i]+'" alt=""></li>'
                    }
                }

                $('#img').html(html)
            })
                
    }
    
    function jionwt(){
        loginCheck()
       /* var timestamp = (new Date()).getTime();
        if(timestamp>lasttime){
            alert('投标已截止，请查看其他案源');return;
        }*/
        var money=$('#money').val();
        if(!/^[0-9]+$/.test(money)){
            alert('金额必须是数字');return;
        }else if(parseInt(money)>parseInt(maxprice)){
            console.log(money,maxprice)
            alert('投标金额不能大于委托报价');return;
        }
        var p={token:token,id:para('id'),money:money};

            $.post(webSiteUrl+'/app/user/joinwt',p,function(ret){
              
                if(ret.code==200){
                   
                    html = "";
                    var tj=ret.data;
                    if(tj != null){

                    
html+='<li><div class="userInfo"><img src="'+webSiteUrl+tj.icon+'" alt=""><div class="userName"><h6>'+tj.nickname+'律师 <i>LV.6</i></h6><span>'+tj.time+'</span></div></div><div class="service_kinds"><dl>';

    if(tj.label.length>0){
        for(var j=0;j<tj.label.length;j++){ 
            html+='<dd>'+tj.label[j]+'</dd>';
        }
    }
html+='</dl></div></li>';
                    }
                    if($('#con li').length>0){
                        $('#con').prepend(html);
                    }else{
                        $('#con').html(html);
                    }
                    
                    
                    alert(ret.msg)
                }else{
                    
                    alert(ret.msg)
                    
                    
                }
            });
       
    }
    function caina(id){
        if(window.confirm('确认委托吗？')){
            var p = {token:token,id:id};
            $.post(webSiteUrl+'/app/user/zb',p,function(ret){
                if(ret.code==200){

                    window.reload()
                }else{

                }
            });
        }

    }


    //投标
    $(".bid_btn").click(function () {
        $(".fixed_bid").fadeToggle();
        $(".fixed_bid .bid_section").animate({
            'top': '0',
            'opacity': '1'
        },400);
    });
    $(".bid_section .sure_btn").click(function () {
        $(".fixed_bid").fadeToggle();
        $(".fixed_bid .bid_section").animate({
            'top': '-4rem',
            'opacity': '0'
        },400);
    });
    //撤标
    $(".withdraw_btn").click(function () {
        $(".my_bidInfo").html('无')
    });


</script>
</html>