<!DOCTYPE HTML>
<html style="background: #f3f3f3;" lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/stylelawyer.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer.css"/>
    <script type="text/javascript" src="__JS__/api.js"></script>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/swiper.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
    <script type="text/javascript" src="__JS__/mobile.js"></script>
    <script type="text/javascript" src="__JS__/ajaxupload.3.5.js"></script>
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <style>

        .order_list ul li .active_btn .no_btn em {
            display: inline-block;
            padding-left: 0.35rem;
        }

        .order_list ul li .active_btn .no_btn em.tel {
            background: url("/Public/Home/img/pd1.png") left center no-repeat;
            background-size: 0.28rem auto;
            color: #1c83ea;
        }

        .order_list ul li .active_btn .no_btn em.msg {
            background: url("/Public/Home/img/pd2.png") left center no-repeat;
            background-size: 0.3rem auto;
            color: #f3a536;
        }
    </style>
</head>
<body>
<header class="header">
    <a href="javascript:void(0);" class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
    <h2>我的订单</h2>
    <!--<a href="javascript:void (0);" class="search_btn set_btn">设置</a>-->
</header>
<section class="bid_condition">
    <ul>
        <li>
            <select name="area" id="area" onchange="statefilter()">
                <option value="0">全部订单</option>
                <option value="1">新订单</option>
                <option value="2">未完成</option>
                <option value="3">已完成</option>
            </select>
        </li>
        <li>
            <select name="kinds" id="kinds" onchange="ajcatefilter()">
                <option value="0">订单类型</option>
                <option value="1">图文咨询</option>
                <option value="2">电话咨询</option>
                <option value="3">见面咨询</option>
                <option value="4">代写文书</option>
                <option value="5">律师函</option>
            </select>
        </li>
        <li>
            <select name="sort" id="sort" onchange="sortfilter()">
                <option value="0">智能排序</option>
                <option value="1">订单日期</option>
                <option value="0">订单金额</option>

            </select>
        </li>
    </ul>
</section>
<section class="order_section">
    <div class="order_list">
        <ul id='con'>

        </ul>
    </div>
</section>
</body>
<include file="Public/footer"/>
<script type="text/javascript" src="__JS__/lawyer.js"></script>

<script>
    loginCheck()
    var page = 1;

    var state = 0;
    var type = 0;
    var sort = 0;

    toDoRequest();

    function toDoRequest() {
        var p = {token: token, state: state, type: type, sort: sort, page: page};
        console.log(p)
        $.post(webSiteUrl + '/app/user/saskorder', p, function (ret) {
            if (ret.code == 200) {

                html = "";
                var tj = ret.data;
                if (tj != null) {

                    for (var i = 0; i < tj.length; i++) {

                        html += '<li id="' + tj[i].id + '"><p>订单号：' + tj[i].orderno + '</p><div class="order_info"><img src="' + tj[i].icon + '" alt=""><div class="info"><h6>' + tj[i].name + '</h6><span>' + tj[i].ordertype + '</span></div>';
                        if (tj[i].type == 1 && tj[i].state == 2) {
                            html += '<a href="##" class="look_demand1" onclick="message(' + tj[i].id + ',' + tj[i].orderno + ')">查看文件</a><a href="##" class="look_demand" onclick="message(' + tj[i].id + ',' + tj[i].orderno + ')">上传文件</a>';
                        }else{
							html += '<a href="##" class="look_demand" onclick="chakan(' + tj[i].id + ')">查看需求</a>';
						
						}
                        html += '</div><div class="order_active"><span>总计：<em>¥' + tj[i].money + '</em></span>';

                        if (tj[i].status == 1) {
                            html += '<div class="active_btn"><a href="##" class="no_btn" onclick="orderstatus(' + tj[i].id + ',' + 3 + ')">拒绝接单</a><a href="##" class="yes_btn" onclick="orderstatus(' + tj[i].id + ',' + 2 + ')">确认接单</a></div>';
                        } else if (tj[i].status == 2 && tj[i].sover == 0) {
                            html += '<div class="active_btn"><a href="tel:' + tj[i].phone + '" class="no_btn" onclick="contactuser(' + tj[i].uid + ')" style="border: 1px #1c83ea solid;"><em class="tel">联系客户</em></a><a href="##" class="yes_btn" onclick="orderstatus(' + tj[i].id + ',' + 4 + ')">确认完成</a></div>';

                            /*if(tj[i].type==2){
    html+='<div class="active_btn"><a href="tel:'+tj[i].phone+'" class="no_btn" onclick="contactuser('+tj[i].uid+')" style="border: 1px #1c83ea solid;"><em class="tel">联系客户</em></a><a href="##" class="yes_btn" onclick="orderstatus('+tj[i].id+','+4+')">确认完成</a></div>';
                            }else if(tj[i].type==1){
    html+='<div class="active_btn"><a href="tel:'+tj[i].phone+'" class="no_btn" onclick="contactuser('+tj[i].uid+')" style="border: 1px #f3a536 solid;"><em class="msg">联系客户</em></a><a href="##" class="yes_btn" onclick="orderstatus('+tj[i].id+','+4+')">确认完成</a></div>';
                            }else{
    html+='<div class="active_btn"><a href="tel:'+tj[i].phone+'" class="no_btn" onclick="contactuser('+tj[i].uid+')" style="border: 1px #1c83ea solid;">联系客户</a><a href="##" class="yes_btn" onclick="orderstatus('+tj[i].id+','+4+')">确认完成</a></div>';
                            }*/
                        } else if (tj[i].status == 2 && tj[i].sover == 1 && tj[i].uover == 0) {
							html += '<div class="active_btn">待会员确认</div>';
						
						}else if(tj[i].status==6 && tj[i].after == 1){
						
							html+='<div class="active_btn">售后中</div>';
						
						}else if(tj[i].status==7 || tj[i].status==9){
						
							html+='<div class="active_btn">已退款</div>';
						
						}else {
                            html += '<div class="active_btn">已完成</div>';
                            /*if(tj[i].uover==0){
                                html+='<div class="active_btn">等待客户确认完成</div>';
                            }else if(tj[i].uover==1){
                                html+='<div class="active_btn">客户已确认完成</div>';
                            }*/
                        }
                        html += '</div></div></li>';
                    }

                }
                if (page == 1) {
                    $('#con').html(html);
                } else {
                    $('#con').append(html);
                }
                page++;


            } else {
                if (page == 1) {
                    $('#con').html('<p style="text-align:center">暂无数据</p>');
                }

            }
        });

    }

    function chakan(id) {
        location.href = '/home/lawyer/chakan?id=' + id + '&type=1';
    }

    function chuan(id, orderno) {
        location.href = '/home/lawyer/chuan?id=' + id + '&orderno=' + orderno;
    }

    function checkfile(id) {
        location.href = '/home/lawyer/checkfile?id=' + id

    }

    function contactuser() {

    }

    function orderstatus(id, num) {
        if (num == 2) {
            var askmsg = '确认接单吗？'
        } else if (num == 3) {
            var askmsg = '确认拒接订单吗？'
        } else if (num == 4) {
            var askmsg = '确认完成吗？'
        } else if (num == 5) {
            var askmsg = '确认吗？'
        }
        if (window.confirm(askmsg)) {
            var p = {token: token, status: num, id: id}
            $.post(webSiteUrl + '/app/user/askorderstatus', p, function (ret) {
                if (ret.code == 200) {
                    $('#' + id).remove();
                    toDoRequest();
                }
            });
        }

    };

    function cate() {
        $.post(webSiteUrl + '/app/public/ajcate', function (ret) {
            if (ret.code == 200) {

                f = "";
                s = "";
                var tj = ret.data;

                html = '<option value="">全部</option>';
                if (tj != null) {
                    for (var i = 0; i < tj.length; i++) {
                        var son = tj[i].son
                        if (son != null) {

                            for (var j = 0; j < son.length; j++) {
                                html += '<option value="' + son[j].id + '">' + son[j].name + '</option>';
                            }

                        }

                    }
                }
                $('#kinds').html(html)

            } else {
                alert(ret.msg);
            }
        });

    };

    function statefilter() {
        page = 1
        state = $('#area').val();

        toDoRequest();
    }

    function ajcatefilter() {
        page = 1
        type = $('#kinds').val();

        toDoRequest();
    }

    function sortfilter() {
        page = 1
        sort = $('#sort').val();

        toDoRequest();
    }


    //跳转留言
    function message(id, orderno) {
        location.href = '/Home/lawyer/viewmessage?id=' + id + '&orderno=' + orderno;
    }


</script>
</html>