<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="__IMG__/t_logo.gif" type="image/x-icon"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="Keywords" content="">
    <meta name="description" content="">
    <meta charset="UTF-8">
    <title>WEBIM测试</title>

    <script type="text/javascript" src="/Public/hxim/WebIMConfig.js"></script>
	<script type="text/javascript" src="/Public/hxim/strophe-1.2.8.js"></script>
    <script type="text/javascript" src="/Public/hxim/websdk-1.11.0.js"></script>
	
</head>
<body>
       
</body>
</html>

<script>
alert(config.appkey);	
/*var conn = {};
WebIM.config = config;
conn = WebIM.conn = new WebIM.connection({
    isHttpDNS: WebIM.config.isHttpDNS,
    isMultiLoginSessions: WebIM.config.isMultiLoginSessions,
    https: WebIM.config.https,
    url: WebIM.config.xmppURL,
    isAutoLogin: false,
    heartBeatWait: WebIM.config.heartBeatWait,
    autoReconnectNumMax: WebIM.config.autoReconnectNumMax,
    autoReconnectInterval: WebIM.config.autoReconnectInterval,
    isStropheLog: WebIM.config.isStropheLog,
    delivery: WebIM.config.delivery
})*/
// WebIM.config 为之前集成里介绍的WebIMConfig.js


</script>