<!DOCTYPE HTML>
<html style="background: #f9f9f9">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer_user.css" />
    <script type="text/javascript" src="__JS__/api.js"></script>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/mobile.js"></script><script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script><script type="text/javascript" src="__JS__/ajaxupload.3.5.js" ></script><script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

</head>
<body style="background: #f9f9f9">
<header class="header">
    <a href="javascript:void(0);"  class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
    <h2>咨询详情</h2>
    <a href="javascript:void(0);" onclick="aaplay('search_lawyer.html')" class="search_btn"><img src="__IMG__/search.png" alt=""></a>
</header>
<section class="bid_condition">
    <ul>
        <li>
            <select name="area" id="area">
                <option value="">全国</option>
                <option value="">北京</option>
                <option value="">上海</option>
                <option value="">广东</option>
                <option value="">重庆</option>
                <option value="">四川</option>
                <option value="">湖南</option>
                <option value="">黑龙江</option>
            </select>
        </li>
        <li>
            <select name="kinds" id="kinds">
                <option value="">案件类型</option>
                <option value="">合同纠纷</option>
                <option value="">离婚协议</option>
            </select>
        </li>
        <li>
            <select name="" id="">
                <option value="">智能排序</option>
            </select>
        </li>
    </ul>
</section>
<section class="about_info" style="padding-top: 0.3rem;">
    <div class="recommend_lawyer">
        <ul>
            <li>
                <a href="##">
                    <img src="__IMG__/userimg1.jpg" alt="">
                    <div class="lawyers_info">
                        <h6>方大同律师 <em>执业1年</em></h6>
                        <p class="location">重庆市 南岸区</p>
                        <p class="addr">重庆市程建律师事务所</p>
                        <dl>
                            <dd>遗产纠纷</dd>
                            <dd>劳动仲裁</dd>
                            <dd>人身损害</dd>
                        </dl>
                    </div>
                </a>
            </li>
            <li>
                <a href="##">
                    <img src="__IMG__/userimg2.jpg" alt="">
                    <div class="lawyers_info">
                        <h6>方大同律师 <em>执业1年</em></h6>
                        <p class="location">重庆市 南岸区</p>
                        <p class="addr">重庆市程建律师事务所</p>
                        <dl>
                            <dd>遗产纠纷</dd>
                            <dd>劳动仲裁</dd>
                            <dd>人身损害</dd>
                        </dl>
                    </div>
                </a>
            </li>
            <li>
                <a href="##">
                    <img src="__IMG__/userimg1.jpg" alt="">
                    <div class="lawyers_info">
                        <h6>方大同律师 <em>执业1年</em></h6>
                        <p class="location">重庆市 南岸区</p>
                        <p class="addr">重庆市程建律师事务所</p>
                        <dl>
                            <dd>遗产纠纷</dd>
                            <dd>劳动仲裁</dd>
                            <dd>人身损害</dd>
                        </dl>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>


</body><include file="Public/userfooter" /><script type="text/javascript" src="__JS__/lawyer_user.js"></script>
<script>



    
</script>
</html>