<!DOCTYPE HTML>
<html style="background: #f9f9f9">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer_user.css" />
    <script type="text/javascript" src="__JS__/api.js"></script>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/swiper.min.js"></script>
    <script type="text/javascript" src="__JS__/mobile.js"></script><script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script><script type="text/javascript" src="__JS__/ajaxupload.3.5.js" ></script><script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

</head>
<body style="background: #f9f9f9">
<header class="header">
    <a href="javascript:void(0);"  class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
    <h2>领劵中心</h2>
    <a href="javascript:void(0);" onclick="aaplay('coupon_center_mine.html')" class="search_btn">我的优惠券</a>
</header>

<section class="coupon_kinds">
    <div class="swiper-container">
        <ul class="swiper-wrapper" id="cgy">
            <li class="swiper-slide active" id="per_1"><a>图文咨询</a></li>
            <li class="swiper-slide" id="per_2"><a>电话咨询</a></li>
            <li class="swiper-slide" id="per_3"><a >见面咨询</a></li>
            <li class="swiper-slide" id="per_4"><a>代写文书</a></li>
            <li class="swiper-slide" id="per_5"><a>律师函</a></li>
        </ul>
    </div>
</section>

<section class="coupon_list">
    <div class="list">
        <ul id="list">
           <!--  <li class="bg1">
                <div class="coupon_info">
                    <div class="userInfo">
                        <img src="__IMG__/userimg1.jpg" alt="">
                        <div class="info">
                            <h6>方大同律师优惠券</h6>
                            <p>立减 <span>￥<b>15</b></span>咨询费</p>
                        </div>
                    </div>
                    <div class="time">
                        <span>仅限图文咨询</span>
                        <span>有效期至：2018-12-18</span>
                    </div>
                </div>
                <a href="##" class="getCoupon">立即<br>领取</a>
            </li>
            <li class="bg2">
                <div class="coupon_info">
                    <div class="userInfo">
                        <img src="__IMG__/userimg1.jpg" alt="">
                        <div class="info">
                            <h6>方大同律师优惠券</h6>
                            <p>立减 <span>￥<b>15</b></span>咨询费</p>
                        </div>
                    </div>
                    <div class="time">
                        <span>仅限图文咨询</span>
                        <span>有效期至：2018-12-18</span>
                    </div>
                </div>
                <a href="##" class="getCoupon">立即<br>使用</a>
            </li> -->
            
        </ul>
    </div>
</section>


</body><include file="Public/userfooter" /><script type="text/javascript" src="__JS__/lawyer_user.js"></script>
<script>
    var coupon = new Swiper('.swiper-container',{
        slidesPerView: 4.4,
    });

    var page = 1;
    var type=1;

    toDoRequest();


    function toDoRequest(){
        loginCheck()
        var p = {token:token,type:type,page:page,infock:2,sid:para('sid')};
        $.post(webSiteUrl+'/app/user/coupon',p,function(ret){
       
            if (ret.code == 200) {console.log(ret.data)
                var list = ret.data;
                var html = '';
                if (list != null) {
                    for (var i =0;i< list.length; i++) {
                        if (list[i].guoqi == 0) {
                            if (list[i].is_have == 0) {
                                html += '<li class="bg1" id="f_'+list[i].id+'">';
                            }else if (list[i].is_have == 1) {
                                html += '<li class="bg2" >';
                            }
                        }else if (list[i].guoqi == 1) {
                            html += '<li class="bg3">';
                        }

                        html += '<div class="coupon_info"><div class="userInfo"><img src="'+list[i].icon+'" alt=""><div class="info"><h6>'+list[i].name+'律师优惠券</h6><p>立减 <span>￥<b>'+list[i].money+'</b></span>咨询费</p></div></div><div class="time"><span>仅限';
                        if(type==1){
                            html+='图文咨询';
                        }else if(type==2){
                            html+='电话咨询';
                        }else if(type==3){
                            html+='见面咨询';
                        }else if(type==4){
                            html+='代写文书';
                        }else if(type==5){
                            html+='律师函';
                        }
                        html += '</span><span>有效期至：'+list[i].lasttime+'</span></div></div>';
                        if (list[i].guoqi == 0) {
                            if (list[i].is_have == 0) {
                                html += '<a onclick="get('+list[i].sid+','+list[i].type+','+list[i].id+')" class="getCoupon" data="'+list[i].id+'"">立即<br>领取</a></li>';
                            }else{
                                html += '<a onclick="lawyer('+list[i].sid+')" class="getCoupon">立即<br>使用</a></li>';
                            }
                        }else if (list[i].guoqi == 1) {
                            html += '<a href="javascript:;" class="getCoupon">立即<br>领取</a></li>';
                        }

                    }
                    $('#list').html(html);
                }
            }else{
                $('#list').html('<p style="text-align:center">暂无数据</p>');
            }
        });       

    }

    $(document).on('click','.swiper-wrapper li',function () {
        $(this).addClass('active').siblings().removeClass('active');

        page=1;
        type=parseInt($(this).index()+1);
        toDoRequest()
    })

    function get(sid,type,id){
        var p = {token:token,sid:sid,type:type};
        $.post(webSiteUrl+'/app/user/getcoupon',p,function(ret){

            if (ret.code == 200) {
                alert('领取成功');
                $('#f_'+id).removeClass('bg1').addClass('bg2').find('.getCoupon').html('立即<br>使用')
                location.reload();
            }else{

                alert('已领取过了');
            }
        });       
    }

    function ordertype(type){
        if(type==1){
            ordertype='图文咨询';
        }else if(type==2){
            $ordertype='电话咨询';
        }else if(type==3){
            ordertype='见面咨询';
        }else if(type==4){
            ordertype='代写文书';
        }else if(type==5){
            ordertype='律师函';
        }
        return ordertype;
    }
    
</script>
</html>