<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer_user.css" />
     <link rel="stylesheet" type="text/css" href="__CSS__/common.css" />
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/mobile.js"></script>
    <script type="text/javascript" src="__JS__/lawyer_user.js"></script>
    <script>
        $(function () {
            window['adaptive'].desinWidth = 750;
            window['adaptive'].baseFont = 28;
            window['adaptive'].maxWidth = 750;
            window['adaptive'].init();
        });
    </script>
</head>
<body>
<header class="header">
    <a href="javascript:void(0);" onclick="api.closeWin()" class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
    <h2>众筹详情</h2>
    <a href="javascript:void (0);" class="share_btn" onclick="aaplay('index')"><img src="__IMG__/shouye1.png" alt=""></a>
</header>
<section class="crowd_details_img">
    <img id="cover" src="__IMG__/crowd_details_img.png" alt="">
    <div class="details_progress">
        <div class="progress_time">
            <span>2018-11-11开始</span>
            <span>2018-12-11结束</span>
        </div>
        <div class="bar">
            <div class="progress_bar"></div>
        </div>
        <div class="details">
            <ul>
                <li>
                    <span><b>1400.90</b>万元 </span>
                    <p>已收到</p>
                </li>
                <li>
                    <span><b>892.45</b>元 </span>
                    <p>目标</p>
                </li>
                <li>
                    <span><b class="percentage">30%</b></span>
                    <p>筹款进度</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="crowd_title">
        <h6>儿子工作致盲，被单位抛弃</h6>
        <p>因操作不慎使一只眼睛完全看不清东西，却被单位狠心抛弃</p>
    </div>
</section>
<section class="crowd_details" style="padding-bottom:0.44rem;">
    <div class="common_title">
        <h6 style="font-weight: normal; font-size: 0.3rem;">众筹详情</h6>
    </div>
    <div class="content">
        <p>
            病痛突来，前路未知。<br>
            蕲水县农民喜大叔，今年69岁，儿子出事前，夫妻俩除了务农，还经常外出打工，准备年底过个好年。谁知这一场突如其来的意外，彻底改变了这个家庭的命运。<br>
            儿子在工作中因操作不慎使一只眼睛成为了盲眼，这个家庭不仅花光了所有存款还负债累累，沉重的治疗费用已经压垮了这个家庭。<br>
            儿子出事后，大叔老两口一夜之间变得特别沧桑，大娘也以为着急住了几天院，只有大叔一人还在撑着。<br>
            如今儿子单位在儿子出事后不管不问，一分治疗钱都没有出，大叔已经没有办法，只好在这里请求帮助，让好心人出一份力，帮助他们讨个说法。<br>
        </p>
        <ul>
            <li><img src="__IMG__/applyh_pic1.png" alt=""></li>
            <li><img src="__IMG__/applyh_pic2.png" alt=""></li>
            <li><img src="__IMG__/applyh_pic3.png" alt=""></li>
        </ul>
    </div>
</section>
<section class="crowd_details" style="padding-bottom: 0.4rem;border-top: 0.25rem #f3f3f3 solid;">
    <div class="common_title">
        <h6 style="font-weight: normal; font-size: 0.3rem;">关联订单</h6>
    </div>
    <div class="order_list">
        <ul>
            <li>
                <p>订单号：2524556842  </p>
                <div class="order_info">
                    <img src="__IMG__/userimg2.jpg" alt="">
                    <div class="info">
                        <h6>方大同律师</h6>
                        <span>代写文书</span>
                    </div>
                </div>
                <div class="order_active">
                    <span>总计：<em>¥150.00</em></span>
                    <div class="active_btn">

                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="friends" style="border-top: 0.25rem #f3f3f3 solid;">
    <div class="common_title " style="display: flex; align-items: center; justify-content: space-between; padding: 0.2rem 3% 0;">
        <h6 style="font-weight: normal; font-size: 0.3rem;">证明留言</h6>
        <span class="click_fb" style="color: #999; font-size: .24rem">34人已证明</span>
    </div>
    <ul>
        <li>
            <div class="friend-info">
                <img src="__IMG__/userimg1.jpg" alt="">
                <div>
                    <p>138****4681</p>
                    <span>2018-11-11  14:45</span>
                </div>
            </div>
            <div class="info">
                <p>确实这有这么回事，家里也挺困难的，希望好心人看到后多帮帮忙。</p>
            </div>
        </li>
        <li>
            <div class="friend-info">
                <img src="__IMG__/userimg1.jpg" alt="">
                <div>
                    <p>138****4681</p>
                    <span>2018-11-11  14:45</span>
                </div>
            </div>
            <div class="info">
                <p>确实这有这么回事，家里也挺困难的，希望好心人看到后多帮帮忙。</p>
            </div>
        </li>
        <li>
            <div class="friend-info">
                <img src="__IMG__/userimg1.jpg" alt="">
                <div>
                    <p>138****4681</p>
                    <span>2018-11-11  14:45</span>
                </div>
            </div>
            <div class="info">
                <p>确实这有这么回事，家里也挺困难的，希望好心人看到后多帮帮忙。</p>
            </div>
        </li>
        <li>
            <div class="friend-info">
                <img src="__IMG__/userimg1.jpg" alt="">
                <div>
                    <p>138****4681</p>
                    <span>2018-11-11  14:45</span>
                </div>
            </div>
            <div class="info">
                <p>确实这有这么回事，家里也挺困难的，希望好心人看到后多帮帮忙。</p>
            </div>
        </li>
    </ul>
    <div class="friends_move_title">更多留言<span onclick="openWin('crowd-funding_prove','crowd-funding_prove.html')">我要证明</span></div>
    <ul class="friends_move_list">
        <li class="on"><img src="__IMG__/infoImg1.png"/><div></div></li>
        <li class="on"><img src="__IMG__/infoImg1.png"/><div></div></li>
        <li class="on"><img src="__IMG__/infoImg1.png"/><div></div></li>
        <li class="on"><img src="__IMG__/infoImg1.png"/><div></div></li>
        <li onclick="openWin('crowd-funding_movely','crowd-funding_movely.html')"><img src="__IMG__/move_icon.png"/></li>
    </ul>
    <div class="friends_ly_content">
        <div class="friends_name">欧阳夙</div>
        <p>我的邻居，平常经常一起聊天，没想到遇到这样的事，平常经常一起聊天，真是太可怜了。</p>
    </div>
    <div class="ly_box">
        <textarea placeholder="我也要留言"></textarea>
        <div class="ly_submit">发表留言</div>
    </div>
</section>
<section class="friends" style="border-top: 0.25rem #f3f3f3 solid;padding-bottom: 1.2rem;">
    <div class="common_title " style="display: flex; align-items: center; justify-content: space-between; padding: 0.2rem 3% 0;">
        <h6 style="font-weight: normal; font-size: 0.3rem;">爱心帮助记录</h6>
        <span class="click_fb" style="color: #999; font-size: .24rem">34人转发/712笔捐款</span>
    </div>
    <ul>
        <li>
            <div class="friend-info">
                <img src="__IMG__/userimg1.jpg" alt="">
                <div>
                    <p>138****4681</p>
                    <span>2018-11-11  14:45</span>
                </div>
                <p class="juank">已捐赠<span class="price">10</span>元</p>
            </div>
            <div class="info">
                <p>确实这有这么回事，家里也挺困难的，希望好心人看到后多帮帮忙。</p>
            </div>
        </li>
        <li>
            <div class="friend-info">
                <img src="__IMG__/userimg1.jpg" alt="">
                <div>
                    <p>138****4681</p>
                    <span>2018-11-11  14:45</span>
                </div>
                <p class="juank">已捐赠<span class="price">10</span>元</p>
            </div>
            <div class="info">
                <p>确实这有这么回事，家里也挺困难的，希望好心人看到后多帮帮忙。</p>
            </div>
        </li>
        <li>
            <div class="friend-info">
                <img src="__IMG__/userimg1.jpg" alt="">
                <div>
                    <p>138****4681</p>
                    <span>2018-11-11  14:45</span>
                </div>
                <p class="juank">已捐赠<span class="price">10</span>元</p>
            </div>
            <div class="info">
                <p>确实这有这么回事，家里也挺困难的，希望好心人看到后多帮帮忙。</p>
            </div>
        </li>
        <li>
            <div class="friend-info">
                <img src="__IMG__/userimg1.jpg" alt="">
                <div>
                    <p>138****4681</p>
                    <span>2018-11-11  14:45</span>
                </div>
                <p class="juank">已捐赠<span class="price">10</span>元</p>
            </div>
            <div class="info">
                <p>确实这有这么回事，家里也挺困难的，希望好心人看到后多帮帮忙。</p>
            </div>
        </li>
    </ul>
</section>

<section class="fixed_btn">
    <a href="##">我要捐款</a>
</section>

</body>
</body><include file="Public/userfooter" /><script type="text/javascript" src="__JS__/lawyer_user.js"></script>

<script type="text/javascript" src="__JS__/jquery.zclip.js"></script>
<script type="text/javascript" src="__JS__/jquery.zclip.min.js"></script>
<script type="text/javascript" src="__JS__/clipboard.min.js"></script>
<script>
    $(function(){
        shop();
    })
    //var id = para('id');
    var wtid
    var rest=0;
    $(".fixed_btn").click(function(){
        openWin('crowd-funding_contribution','crowd-funding_contribution.html');
    })

    $(".friends_move_list li").click(function(){
        $(".friends_move_list li").removeClass("on");
        $(this).addClass("on");
    })
    
    $(".ly_submit").click(function(){
         var layers = "";
            var isnull = false;
            var val = $(".ly_box textarea").val();
            if(val == "" && !isnull){
                layers = "请输入留言";
                isnull = true;
            }
            if(isnull){
                console.log(layers);
                alert(layers);//用的什么弹窗 到时候自己改一下
                return;
            }
    })

    function shop(){
        var p = {id:74}
        $.post(webSiteUrl+'/App/Zongcou/details',p,function(ret){
            console.log(ret);
            if (ret.code == 200) {
                   
            }
        });
    }

</script>
</html>