<!DOCTYPE HTML>
<html style="background: #f9f9f9">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer_user.css" />
    <script type="text/javascript" src="__JS__/api.js"></script>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/jquerysession.js"></script>
    
    <script type="text/javascript" src="__JS__/mobile.js"></script><script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script><script type="text/javascript" src="__JS__/ajaxupload.3.5.js" ></script><script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

</head>
<body style="background: #f9f9f9">
<header class="header">
    <!--<a href="javascript:void(0);"  class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>-->
    <h2>登录</h2>
    <a href="{:U('Public/register')}" class="qiandao_btn">注册</a>
</header>
<section class="login_choose">
    <ul>
        <li class="active"><a href="{:U('Public/login')}">手机快捷登录</a></li>
        <li><a href="{:U('Public/login_account')}">账号密码登录</a></li>
    </ul>
</section>

<section class="login_section">
    <div class="fyb_logo"><img src="__IMG__/fyb_logo.png" alt=""></div>
    <div class="login_box">
        <ul>
            <li class="username"><input type="text" placeholder="请输入手机号" name='phone' id='phone'></li>
            <li class="tel_code"><input type="text" placeholder="请输入验证码" name='yzm'><span id='regyzm'>获取验证码</span></li>
        </ul>
        <p class="agree">成功登陆APP即表示您同意<a href="##">《用户协议》</a></p>
        <button class="login_submit" type="submit" onclick="login()">进入法援宝</button>
    </div>
    <div class="login_kinds">
        <h6><span>第三方登录</span></h6>
        <ul>
            <li><a href="javascript:;" onclick="sanfangqq()"><img src="__IMG__/ologin1.png" alt=""></a></li>
            <!--<li><a href="javascript:;" onclick="initWXBind()"><img src="__IMG__/ologin2.png" alt=""></a></li>-->
            <li><a href="{$web_url}"><img src="__IMG__/ologin3.png" alt=""></a></li>
        </ul>
    </div>
</section>
<aside class="download">
    <a href="{:U('lawyer/login')}" class="user_download">律师用户点击跳转【法援宝律师端】</a>
</aside>


</body><include file="Public/userfooter" /><script type="text/javascript" src="__JS__/lawyer_user.js"></script>

<script>

    localStorage.clear();
   
    $('#regyzm').click(function () {
        if($(this).hasClass('regyzm')==false){
            var phone=$('input[name=phone]').val();
            if(phone==''){
                api.alert({msg:"请输入手机号！"});return;
            }else if(!/^1[345678]\d{9}$/.test(phone)){
                api.alert({msg:"手机号格式错误！"});return;
            }

            var p={phone:phone,type:1};
             $.post(webSiteUrl+'/app/public/yzm',p,function(ret){
                if(ret.code==200){

                    $('#regyzm').addClass('regyzm');
                    var num=60;
                    timer=setInterval(function(){
                        $('#regyzm').html(num+'秒');
                        num--;
                        if(num==0){
                            clearInterval(timer);
                            timer=null;
                            $('#regyzm').html('重新获取');
                            $('#regyzm').removeClass('regyzm');
                        }
                    },1000)

                    alert(ret.msg);
                    
               
                }else{alert(ret.msg)}
            });
            
        }
    })
    function login(){
        var phone=$("input[name=phone]").val();
        var yzm=$("input[name=yzm]").val();
        var idno=$("input[name=idno]").val();
        if(phone==''){
            alert("请输入手机号！");return;
        }/*else if(!/^1[345678]\d{9}$/.test(phone)){
            alert("手机号格式错误！");return;
        }*//*else if(yzm==''){
            alert("请输入验证码！");return;
        }*/

        var p={phone:phone,yzm:yzm,type:1};
        $.post("{:U('Public/waplogin')}",p,function(ret){
            var ret=jQuery.parseJSON(ret);
            if(ret.code==200){
                alert(ret.msg)
                console.log(ret.data.token);
                location.href='/home/user/index';

            }else{alert(ret.msg)}
        });

    }

    //qq登录
    function sanfangqq(){
        location.href='/Home/Public/qq_login';

    }


    
</script>
</html>