<!DOCTYPE HTML>
<html style="background: #f3f3f3;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer_user.css" />
    <script type="text/javascript" src="__JS__/api.js"></script>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/mobile.js"></script><script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script><script type="text/javascript" src="__JS__/ajaxupload.3.5.js" ></script><script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

</head>
<style type="text/css">
       .point{
            display: none;
            position: relative;
            background: #f94c49;
            border-radius: 0.18rem;
            margin-left: 0.1rem;
            top: -0.1rem;
            font-size: 12px;
            color: #fff;
            width: 0.30rem;
            line-height: 0.25rem;
            height: 0.28rem;
            padding: 0.06rem;
			text-align: center; 
        }
		
		
    </style>
<body style="background: #f3f3f3;">
<header class="header">
    <a href="javascript:void(0);"  class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
    <h2>我的订单</h2>
    <a href="javascript:void (0);" class="share_btn" onclick="aaplay('index')"><img src="__IMG__/shouye1.png" alt=""></a>
</header>

<section class="order_kinds">
    <ul>
        <li><a href="javascript:;" onclick="aaplay('personal_myOrder_all')">全部订单</a></li>
        <li><a href="javascript:;" onclick="aaplay('personal_myOrder_missed')">待付款<em id="dfkNum" style="display: none;" class="point"></em></a></li>
        <li><a href="javascript:;" onclick="aaplay('personal_myOrder_waiting')">待接单<em id="djdNum" style="display: none;" class="point"></em></a></li>
        <li><a href="javascript:;" onclick="aaplay('personal_myOrder_received')">已接单<em id="yjdNum" style="display: none;" class="point"></em></a></li>
        <li><a href="javascript:;" onclick="aaplay('personal_myOrder_finished')">已完成</a></li>
        <li><a href="javascript:;" onclick="aaplay('personal_myOrder_evaluated')">已评价</a></li>
        <li><a href="javascript:;" onclick="aaplay('personal_myOrder_refund')">已退款</a></li>
        <!--<li><a href="javascript:;" onclick="aaplay('personal_myOrder_closed')">已关闭</a></li-->
        <li><a href="javascript:;" onclick="aaplay('personal_myOrder_afterSale')">售后服务<em id="shNum" style="display: none;" class="point"></em></a></li>
        <li><a href="javascript:;" onclick="aaplay('personal_myOrder_reward')">打赏</a></li>

    </ul>
</section>



</body>
<include file="Public/userfooter" />
<script type="text/javascript" src="__JS__/lawyer_user.js"></script>
<script>
askNum(); 
function askNum(){

	$.post(webSiteUrl + '/app/staff/askNumList',{token:token},function(ret){
	
		if(ret.code == 200){
			if(ret.data.dfkNum > 0){
				$('#dfkNum').html(ret.data.dfkNum);
				$('#dfkNum').show();
			}
			if(ret.data.djdNum > 0){
				$('#djdNum').html(ret.data.djdNum);
				$('#djdNum').show();
			}
			if(ret.data.yjdNum > 0){
				$('#yjdNum').html(ret.data.yjdNum);
				$('#yjdNum').show();
			}
			if(ret.data.shNum > 0){
				$('#shNum').html(ret.data.shNum);
				$('#shNum').show();
			}
	
		
		}
	
	});

}
   
</script>
</html>