<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer_user.css"/>
    <script type="text/javascript" src="__JS__/api.js"></script>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/mobile.js"></script>
    <script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
    <script type="text/javascript" src="__JS__/ajaxupload.3.5.js"></script>
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

</head>
<body>
<header class="header">
    <a href="javascript:void(0);" class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
    <h2>我的咨询</h2>
    <a href="javascript:void (0);" class="share_btn" onclick="aaplay('index')"><img src="__IMG__/shouye1.png" alt=""></a>
</header>
<section class="ask_square">
    <div class="ask_list">
        <ul id='con'>


        </ul>
    </div>
</section>


</body>
<include file="Public/userfooter"/>
<script type="text/javascript" src="__JS__/lawyer_user.js"></script>
<script>
    loginCheck()
    var page = 1;

    toDoRequest();

    function toDoRequest() {
        var p = {uid: uid, page: page};
        $.post(webSiteUrl + '/app/public/fask', p, function (ret) {
            console.log(ret)
            if (ret.code == 200) {

                var html = "";
                var tj = ret.data;
                if (tj != null) {
                    for (var i = 0; i < tj.length; i++) {

                        if(tj[i].num == 0){
                            html += '<li class="not"><a href="javascript:;" onclick="askdetail(' + tj[i].id + ')"><div class="userInfo"><img src="' + tj[i].icon + '"><div class="userName"><h6>' + tj[i].phone + '</h6><span>' + tj[i].addr + '<em>' + tj[i].time + '</em></span></div></div><div class="comment_info"><p>' + tj[i].content + '</p></div></a><div class="ask_kinds"><span>' + tj[i].ajtype + '</span><div class="ask_active"><a href="javascript:;"><em class="answer_num">' + tj[i].num + '人回答</em></a></div></div></li>';
                        }else {
                            if(tj[i].choose == 0){
                                html += '<li class="ing"><a href="javascript:;" onclick="askdetail(' + tj[i].id + ')"><div class="userInfo"><img src="' + tj[i].icon + '"><div class="userName"><h6>' + tj[i].phone + '</h6><span>' + tj[i].addr + '<em>' + tj[i].time + '</em></span></div></div><div class="comment_info"><p>' + tj[i].content + '</p></div></a><div class="ask_kinds"><span>' + tj[i].ajtype + '</span><div class="ask_active"><a href="javascript:;"><em class="answer_num">' + tj[i].num + '人回答</em></a></div></div></li>';
                            }else {
                                html += '<li class="close"><a href="javascript:;" onclick="askdetail(' + tj[i].id + ')"><div class="userInfo"><img src="' + tj[i].icon + '"><div class="userName"><h6>' + tj[i].phone + '</h6><span>' + tj[i].addr + '<em>' + tj[i].time + '</em></span></div></div><div class="comment_info"><p>' + tj[i].content + '</p></div></a><div class="ask_kinds"><span>' + tj[i].ajtype + '</span><div class="ask_active"><a href="javascript:;"><em class="answer_num">' + tj[i].num + '人回答</em></a></div></div></li>';
                            }

                        }

                    }
                }

                if (page == 1) {
                    $('#con').html(html);
                } else {
                    $('#con').append(html);
                }
                page++;

            } else {
                $('#con').html('<p style="text-align:center">暂无数据</p>');
            }
        });

    }

</script>
</html>