<!DOCTYPE HTML>
<html style="background: #f3f3f3;" lang="zh-cmn-Hans">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/stylelawyer.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer.css" />
    <script type="text/javascript" src="__JS__/api.js"></script><script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/swiper.min.js"></script><script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
    <script type="text/javascript" src="__JS__/mobile.js"></script><script type="text/javascript" src="__JS__/ajaxupload.3.5.js" ></script><script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
</head>

<body>
    <div id="secHeader">
        <header class="header">
            <a href="javascript:void(0);" onclick="comeBack()" class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
            <h2>收支明细</h2>
            <a href="javascript:void (0);" class="share_btn" onclick="aaplay('index')"><img src="__IMG__/shouye1.png" alt=""></a>
        </header>
    </div>
    <div id="con">
        <!-- <section class="statistics">
    <div class="statistics_time">
        <div class="time">
            <p>本月</p>
            <span><em>收入：556.00</em> <em>支出：58.00</em></span>
        </div>
        <a href="javascript:void (0);" class="date_btn"><img src="../image/date_icon.png" alt=""></a>
    </div>
    <div class="budget_list">
        <ul>
            <li>
                <div class="income">
                    <p>收益</p>
                    <span>2017-6-1 09:35</span>
                </div>
                <em class="add_money">+8.66元</em>
            </li>

        </ul>
    </div>
    </section>
    <section class="statistics">
    <div class="statistics_time">
        <div class="time">
            <p>11月</p>
            <span><em>收入：556.00</em> <em>支出：58.00</em></span>
        </div>
    </div>
    <div class="budget_list">
        <ul>
            <li>
                <div class="income">
                    <p>收益</p>
                    <span>2017-6-1 09:35</span>
                </div>
                <em class="add_money">+8.66元</em>
            </li>

        </ul>
    </div>
    </section> -->
    </div>


</body>
<include file="Public/footer" /><script type="text/javascript" src="__JS__/lawyer.js"></script>
<script>

    var date = '';
    var mdate = '本月';
    toDoRequest2(date);


    function toDoRequest2(date) {
        var p = {
            token: token,
            date: date
        };
        console.log(JSON.stringify(p));
		
		$.post(webSiteUrl + '/app/staff/userWater',p,function(ret){
		
			if (ret.code == 200) {

                var html = "";
                var t = ret.data;

                var tj = ret.data;
                //alert(tj.length);
                if(date==''){
                  mdate = mdate;
                }else {
                  mdate = date;
                }


                if (tj == '') {
                  html += '<section class="statistics"><div class="statistics_time"><div class="time"><p>' + mdate + '</p><span><em>收入：0</em> <em>支出：0</em></span></div>';
                  html +=
                      '<a href="javascript:void (0);" class="date_btn" id="date1"><img src="__IMG__/date_icon.png" alt=""><input onchange="datechoose()" readonly="readonly" name="appDateTime"  id="appDate" type="text"  class="hideinput"></a>';

                  html += '</div><div class="budget_list" ><p style="text-align:center; margin-top: 0.3rem; padding-bottom: 0.3rem;">该月暂无数据</p></div></section>';

                } else {

                    for (var i = 0; i < tj.length; i++) {
                        html += '<section class="statistics"><div class="statistics_time"><div class="time"><p>' + tj[i].months + '</p><span><em>收入：' + tj[i].income + '</em> <em>支出：' + tj[i].expenditure + '</em></span></div>';
                        if (i == 0) {
                            html +=
                                '<a href="javascript:void (0);" class="date_btn" id="date1"><img src="__IMG__/date_icon.png" alt=""><input onchange="datechoose()" readonly="readonly" name="appDateTime"  id="appDate" type="text"  class="hideinput"></a>';
                        }
                        html += '</div><div class="budget_list"><ul>';

                        var tjm = tj[i].son_list;

                        if (tjm != null) {
                            for (var j = 0; j < tjm.length; j++) {
                                html += '<li onclick="details('+tjm[j].id+')"><div class="income"><p>' + tjm[j].water_title + '</p><span>' + tjm[j].create_time + '</span></div>';
                                if (tjm[j].type == 1) {
                                    html += '<em class="add_money">+' + tjm[j].new_price + '元</em></li>';
                                } else {
                                    html += '<em class="add_money">-' + tjm[j].new_price + '元</em></li>';
                                }
                            }
                        }

                        html += '</ul></div></section>';

                    }

                }

                $('#con').html(html);
                $("#appDate").mobiscroll($.extend(opt['date'], opt['default']));
            } else {
                $('#con').html('<p style="text-align:center;margin-top:0.5rem;padding-bottom: 0.3rem;">暂无数据</p>');


            }
		
		});
        

    }

    //时间选择
    var currYear = (new Date()).getFullYear();
    var opt = {};
    opt.date = {
        preset: 'date'
    };
    opt.datetime = {
        preset: 'datetime'
    };
    opt.time = {
        preset: 'time'
    };
    opt.default = {
        theme: 'android-ics light', //皮肤样式
        display: 'modal', //显示方式
        mode: 'scroller', //日期选择模式
        dateFormat: 'yyyy-mm',
        lang: 'zh',
        showNow: false,
        nowText: "今天",
        startYear: currYear, //开始年份
        endYear: currYear + 10 //结束年份
    };


    function datechoose() {
        date = $('#appDate').val()
        toDoRequest2(date)
    }

    function details(id){

		window.location.href = '/Home/Lawyer/zhangdan?id='+id;
    }
</script>

</html>
