<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer_user.css" />
    <script type="text/javascript" src="__JS__/api.js"></script>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/mobile.js"></script><script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script><script type="text/javascript" src="__JS__/ajaxupload.3.5.js" ></script><script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

</head>
<body>
<header class="header">
    <a href="javascript:void(0);"  class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
    <h2>消息中心</h2>
    <a href="javascript:void (0);" class="share_btn" onclick="aaplay('index')"><img src="__IMG__/shouye1.png" alt=""></a>
</header>
<section class="info_kinds">
    <div class="info">
        <ul>
            <li class="active"><a href="javascript:;">我的消息</a></li>
            <li class=""><a href="javascript:;">系统消息</a></li>
        </ul>
    </div>
</section>

<section class="system_info">
    <ul id='con'>
        <!-- <li class="active">
            <a href="javascript:;" onclick="aaplay('index','##')">
                <h6>系统消息</h6>
                <p>钱借给别人，但借条被担保人撕了，这钱还能要回来吗？钱借 给别人，但借条被担保人撕了，这钱还能要回来吗？</p>
                <div class="info_time">
                    <span>2018-11-18  14:57</span>
                    <span>点击查看</span>
                </div>
            </a>
        </li> -->
       
    </ul>
</section>
<style type="text/css">
    .system_info ul li .info_title p{
        height: .4rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .system_info .info{
        height: 0.4rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
</style>

</body><include file="Public/userfooter" /><script type="text/javascript" src="__JS__/lawyer_user.js"></script>
<script>
    loginCheck()
    var page=1;
    var p='';
    var type=1;

    toDoRequest2()
    function toDoRequest2(){
        p= {token:token,type:type,page:page};
        $.post(webSiteUrl+'/app/user/umsg',p,function(ret){
            console.log(ret.data)
                if(ret.code==200){
                   
                    html = "";
                    var tj=ret.data;
                    if(tj != null){

for(var i=0;i<tj.length;i++){
    if(type == 1){
        if(tj[i].new==1){
            html+='<li class="new">';
        }else{
            html+='<li>';
        }
       if(tj[i].type==1){
           html+='<a href="javascript:;" onclick="askdetail('+tj[i].tid+')"><div class="info_title"><p>通知</p><span>'+tj[i].time+'</span></div><p class="info">您发布的咨询已经有律师解答了，快去看看吧！</p></a></li>';

       }else if(tj[i].type==2){
           html+='<a href="javascript:;" onclick="dtdetail('+tj[i].tid+')"><div class="info_title"><p>通知</p><span>'+tj[i].time+'</span></div><p class="info">您发布的动态有人评价了 ！！</p></a></li>';

       }else if(tj[i].type==3){
           html+='<a href="javascript:;" onclick="personal_myOrder_received()"><div class="info_title"><p>通知</p><span>'+tj[i].time+'</span></div><p class="info">您发布的图文咨询有新回复了 ！！</p></a></li>';

       }else if(tj[i].type==4){
           html+='<a href="javascript:;" onclick="personal_myOrder_received()"><div class="info_title"><p>通知</p><span>'+tj[i].time+'</span></div><p class="info">您发布的咨询律师接单了 ！！</p></a></li>';

       }else if(tj[i].type==5){
           html+='<a href="javascript:;" onclick="personal_myOrder_budding()"><div class="info_title"><p>通知</p><span>'+tj[i].time+'</span></div><p class="info">您发布的委托已有律师竞标了 ！！</p></a></li>';

       }else if(tj[i].type==6){
           html+='<a href="javascript:;" onclick="personal_myOrder_closed()"><div class="info_title"><p>通知</p><span>'+tj[i].time+'</span></div><p class="info">您发布的咨询律师拒单了 ！！</p></a></li>';

       }else if(tj[i].type==7){
           html+='<a href="javascript:;" onclick="personal_myOrder_refund()"><div class="info_title"><p>通知</p><span>'+tj[i].time+'</span></div><p class="info">您的订单已成功取消 ！！</p></a></li>';

       }else if(tj[i].type==8){
           html+='<a href="javascript:;"><div class="info_title"><p>通知</p><span>'+tj[i].time+'</span></div><p class="info">注册成功，恭喜您成为本站成员 ！！</p></a></li>';

       }else if(tj[i].type==9){
           html+='<a href="/Home/User/viewmessage?id='+tj[i].ask_id+'"><div class="info_title"><p>通知</p><span>'+tj[i].time+'</span></div><p class="info">您的图文咨询消息律师已回复 ！！</p></a></li>';

       }

    }else{
        if(tj[i].new==1){
            html+='<li class="active" onclick="sysmsg('+tj[i].id+')">';
        }else{
            html+='<li onclick="sysmsg('+tj[i].id+')">';
        }
html+='<a href="javascript:;"><h6>系统消息</h6><p>'+tj[i].content+'</p><div class="info_time"><span>'+tj[i].time+'</span><span  onclick="sysmsg()">点击查看</span></div></a></li>';
    }

}
                    }
                    if(page==1){
                        $('#con').html(html);
                    }else{
                        $('#con').append(html);
                    }
                    page++;
                  
                   
                }else{
                    if(page==1){
                        $('#con').html('<p style="text-align:center">暂无数据</p>');
                    }
                    
                }
                know()
            });
       
    }
    function know(){
        p= {token:token};
        $.post(webSiteUrl+'/app/user/know',p,function(ret){
            if(ret.code==200){

            }
        });
    }
    function personal_myOrder_received() {
        location.href='/home/user/personal_myOrder_received'
    }
	function personal_myOrder_closed() {
        location.href='/home/user/personal_myOrder_closed'
    }
	function personal_myOrder_budding() {
        location.href='/Home/User/bidding_ing';
    }
	function personal_myOrder_refund() {
        location.href='/Home/User/personal_myOrder_refund';
    }
    $('.info li').click(function(){
        $(this).addClass('active').siblings().removeClass('active');
        
        if($(this).index()==0){
            $('#bigcon').addClass('user_notice').removeClass('system_info');
        }else{
            $('#bigcon').addClass('system_info').removeClass('user_notice');
        }
        
        page=1
        type=parseInt($(this).index()+1)
        toDoRequest2();
    })
    function sysmsg(id) {
        location.href='/home/user/msg_detail?id='+id
    }

    //标记为已读
    $(".readed_btn").click(function () {
        $('.system_info ul li').removeClass('active');
        $('.user_notice ul li').removeClass('active');
    })
</script>
</html>