<!DOCTYPE HTML>
<html style="background: #FFFFFF;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/api.css" />
	<link rel="stylesheet" type="text/css" href="__CSS__/style.css" />

	<link rel="stylesheet" type="text/css" href="__CSS__/lawyer_user.css" />
	<script type="text/javascript" src="__JS__/api.js"></script>
	<script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="__JS__/mobile.js"></script><script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script><script type="text/javascript" src="__JS__/ajaxupload.3.5.js" ></script><script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<style type="text/css">
		.stat_text_con{display: block;box-sizing: border-box;padding: 0.20rem 4%;}
		.stat_text_con  p,
		.stat_text_con h3{font-size: 0.24rem;color: #333333;}
		.stat_text_con h3{font-weight: normal;margin: 0.50rem 0rem;}
	</style>
</head>
<body>
<header class="header">
    <a href="javascript:void(0);"  class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
    <h2 id="head_title">用户协议</h2>
    <a href="javascript:void (0);" class="share_btn" onclick="aaplay('index')"><img src="__IMG__/shouye1.png" alt=""></a>
</header>
<section class="statistics">
	<div class="stat_text_con">
		<p>用户注册服务协议</p>
		<h3>尊敬的用户：</h3>
		<p>您好！ 欢迎使用法援宝律师（以下简称“法援宝”）。以下所述条款和条件即构成您就法援宝使用许可所达成的协议（以下简称“本协议”）。一旦您点击“注册”按钮后，即表示您已接受并知悉了以下所述的条款和条件，自愿认可和信守本协议。包括但不限于本协议和隐私权法律、政策等。</p>
		<h3>第一条 使用条款和条件</h3>
		<p>1、本客户端的各项电子服务的所有权和运作权归法援宝所有。用户同意所有注册协议条款并完成注册程序，才能成为本客户端的正式用户。正式用户注册的账号所有权归法援宝所有，用户只有使用权。所有用户确认：本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定。</p>
		<p>2、用户点击同意本协议的，即视为用户确认自己具有享受本客户端服务、下单购买等相应的权利能力和行为能力，能够独立承担法律责任。</p>
		<p>3、如果您在18周岁以下，您只能在父母或监护人的监护参与下才能使用本客户端。</p>
		<p>4、法援宝保留在中华人民共和国大陆地区法施行之法律允许的范围内独自决定拒绝服务、关闭注销用户账户、清除或编辑内容或取消订单的权利。</p>
		<h3>第二条 条款和条件修订</h3>
		<p>1、 根据国家法律法规变化及网络运营需要，法援宝可在不事先通知用户的情况下，修改本协议下的条款和条件或单独条款和条件。一旦法援宝将这些修改后的条款和条件或单独条款和条件登载本客户端上即生效，并代替原来的协议。用户如继续使用本服务，则应被视为对修改后的条款和条件或单独条款和条件给予有效而不可撤消的同意。用户在使用本服务时，应定期查阅这些条款和条件，因为法援宝不会就条款和条件的修改单独发送通知。</p>
		<h3>第三条 客户端服务</h3>
		<p>1、法援宝通过互联网依法为用户提供互联网信息等服务，用户在完全同意本协议及本客户端规定的情况下，方有权使用本客户端的相关服务。</p>
		<p>2、用户必须自行准备如下设备和承担如下开支：</p>
		<p>（1）上网设备，包括并不限于电脑或者其他上网终端、调制解调器及其他必备的上网装置；</p>
		<p>（2）上网开支，包括并不限于网络接入费、上网设备租用费、手机流量费等。</p>
		<h3>第四条 用户信息</h3>
		<p>1、用户应自行诚信向本客户端提供注册资料，用户同意其提供的注册资料提交的注册信息均真实、准确、及时、详尽和完整，并不断更新注册资料，以符合及时、详尽和准确的要求；不含有任何违反国家法律、法规及中华人民共和国承认或加入的国际条约的内容，且您通过法援宝所从事的一切活动都是合法、真实的，不侵害任何第三方的合法权益。如果用户提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且法援宝保留终止用户使用法援宝服务端的各项服务的权利。</p>
		<p>2、用户在本客户端进行购买活动时，涉及用户真实姓名/名称、通信地址、联系电话、电子邮箱等隐私信息的，本站将予以严格保密，除非得到用户的授权或法律另有规定，法援宝不会向外界披露用户隐私信息。</p>
		<p>3、用户注册成功后，将产生用户名和密码等账户信息，您可以根据本客户端规定改变您的密码。用户应谨慎合理的保存、使用其用户名和密码。法援宝将凭密码进行的所有活动视为用户直接的行为。</p>
		<p>4、用户同意，法援宝拥有通过邮件、短信电话等形式，向在本客户端注册、购买的用户发送订单信息、促销活动等告知信息的权利。</p>
		<p>5、用户不得将在本站注册获得的账户借给他人使用，否则用户应承担由此产生的全部责任，并与实际使用人承担连带责任。</p>
		<p>6、用户使用法援宝为任何第三方提供服务的，对于用户和第三方之间的纠纷，法援宝将不承担任何责任。</p>
		<p>7、用户同意，法援宝有权使用用户的注册信息、用户名、密码等信息，登陆进入用户的注册账户，进行证据保全，包括但不限于公证、见证等。</p>
		<h3>第五条 用户依法言行义务</h3>
		<p>1、不得传输或发表：煽动抗拒、破坏宪法和法律、行政法规实施的言论，煽动颠覆国家政权，推翻社会主义制度的言论，煽动分裂国家、破坏国家统一的的言论，煽动民族仇恨、民族歧视、破坏民族团结的言论；</p>
		<p>2、从中国大陆向境外传输资料信息时必须符合中国有关法规；</p>
		<p>3、不得利用本客户端从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；</p>
		<p>4、不得干扰本客户端的正常运转，不得侵入本客户端及国家计算机信息系统；</p>
		<p>5、不得传输或发表任何违法犯罪的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的、淫秽的、不文明的等信息资料；</p>
		<p>6、不得传输或发表损害国家社会公共利益和涉及国家安全的信息资料或言论；</p>
		<p>7、不得教唆他人从事本条所禁止的行为；</p>
		<p>8、不得利用在本客户端注册的账户进行牟利性经营活动；</p>
		<p>9、不得发布任何侵犯他人著作权、商标权等知识产权或合法权利的内容；用户应关注并遵守本客户端不时公布或修改的各类合法规则规定。本客户端保有删除各类不符合法律政策或不真实的信息内容而无须通知用户的权利。若用户未遵守以上规定的，本客户端有权作出独立判断并采取暂停或关闭用户帐号等措施。用户须对自己在网上的言论和行为承担法律责任。</p>
	</div>
</section>
	</body><include file="Public/userfooter" /><script type="text/javascript" src="__JS__/lawyer_user.js"></script>
<script>

	var type = 3;
	
	if(para('type') != '' && para('type') != null && typeof(para('type')) != "undefined"){
		type = para('type');
	  }

	yhxy()
	function yhxy(){
		var p={type:type};
		$.post(webSiteUrl+'/app/public/ad',p,function(ret){
			console.log(ret.data.content)
			if(ret.code==200){

				var tj=ret.data;
				if(tj != null){
					$('.stat_text_con').html(tj.content);
					$('#head_title').html(tj.name);

				}
			}

		});

	}
</script>
</html>
