<extend name="Public/base"/>

<block name="body">
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title">
		<h2>{:isset($info['id'])?'编辑':'新增'}分类</h2>
	</div>
	<div class="tab-wrap">
		<ul class="tab-nav nav">
			<li data-tab="tab1" class="current"><a href="javascript:void(0);">基 础</a></li>
		</ul>
		<div class="tab-content">
			<form action="{:U()}" method="post" class="form-horizontal">
				<!-- 基础 -->
				<div id="tab1" class="tab-pane in tab1">
					<div class="form-item">
						<label class="item-label">上级分类<span class="check-tips"></span></label>
						<div class="controls">
							<input type="text" class="text input-large" disabled="disabled" value="{$category['title']|default='无'}"/>
						</div>
					</div>
					<div class="form-item">
            <label class="item-label">分类名称<span class="check-tips">（名称必须填写）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="title" value="{$info.title}">
                <input type="hidden" name="id" value="{$vo.id}" />
            </div>
        </div>
       
        <div class="form-item">
            <label class="item-label">排序<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="sort" value="{$info.sort}">
            </div>
        </div>


        <div class="form-item">
            <label class="item-label">
            是否显示<span class="check-tips">（该分类是否在前台显示）</span>
            </label>
            <div class="controls">
                <label class="inline radio"><input type="radio" name="status" value="1" <if condition="$info.status eq 1">checked</if>>显示</label>
                <label class="inline radio"><input type="radio" name="status" value="0" <if condition="$info.status eq 0">checked</if>>不显示</label>
            </div>
        </div>
        

        <div class="form-item">
            <label class="item-label">分类描述</label>
            <div class="controls">
                <label class="textarea input-large">
                    <textarea name="description">{$info.description}</textarea>
                </label>
            </div>
        </div>

				</div>
				<div class="form-item">
					<input type="hidden" name="id" value="{$info.id|default=''}">
					<input type="hidden" name="pid" value="{:isset($category['id'])?$category['id']:$info['pid']}">
					<button type="submit" id="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>
					<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
				</div>
			</form>
		</div>
	</div>
</block>

<block name="script">
	<script type="text/javascript">
		<present name="info.id">
		Think.setValue("allow_publish", {$info.allow_publish|default=1});
		Think.setValue("check", {$info.check|default=0});
		Think.setValue("model[]", {$info.model|json_encode} || [1]);
		Think.setValue("type[]", {$info.type|json_encode} || [2]);
		Think.setValue("display", {$info.display|default=1});
		Think.setValue("reply", {$info.reply|default=0});
		Think.setValue("reply_model[]", {$info.reply_model|json_encode} || [1]);
		</present>
		$(function(){
			showTab();
			$("input[name=reply]").change(function(){
				var $reply = $(".form-item.reply");
				parseInt(this.value) ? $reply.show() : $reply.hide();
			}).filter(":checked").change();
		});
		//导航高亮
		highlight_subnav('{:U('Producttype/index')}');
	</script>
</block>
