<extend name="Public/base"/>

<block name="body">
	<script type="text/javascript" src="__STATIC__/ColorPicker/jquery.js"></script>
	<script type="text/javascript" src="__STATIC__/ColorPicker/jquery.colorpicker.js"></script>
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title">
        <h2>修改（{$vo.name}）资讯</h2>
    </div>
    <ul class="tab-nav nav">

        <li class="current"><a href="javascript:void(0)">基本信息</a></li>

    </ul>
    
    <form action="{:U()}" method="post" class="form-horizontal">
    <div class="tab-content">
        <input type="hidden" class="text input-large" name="id" value="{$vo.id}">
        <div class="form-item">
            <label class="item-label">资讯名称<span class="check-tips">（必须填写）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="{$vo.name}">
            </div>
        </div>




        <div class="form-item">
            <label class="item-label">资讯类别<span class="check-tips">（必须选择）</span></label>
            <div class="controls">
                <select name="typeid"  style="width:390px;">
                    <volist name="cate" id="typelist">
                        <option value="{$typelist.id}" <?php if($vo['typeid']==$typelist[id]){echo 'selected';}?> >{$typelist.title}</option>


                    </volist>
                </select>
            </div>
        </div>

        <div class="form-item">
            <label class="item-label">资讯内容<span class="check-tips">（图文资讯必须填写）</span></label>
            <div class="controls">
                <label class="textarea">
                    <textarea name="content">{$vo.content}</textarea>
                    {:hook('adminArticleEdit', array('name'=>content,'value'=>$vo['content']))}
                </label>

            </div>
        </div>
        <div class="form-item">
            <label class="item-label">排序</label>
            <div class="controls">
                <input type="text" class="text input-large" name="sort" value="{$vo.sort}">
            </div>
        </div>


        <div class="form-item">
            <div class="controls">
                <label class="item-label">资讯缩略图</label>
                <input type="file" id="upload_picture">
                <input type="hidden" name="icon" id="icon" value="{$vo['icon']|default=''}"/>
                <div class="upload-img-box">
                <notempty name="vo['icon']">
                    <div class="upload-pre-item"><img src="__ROOT__{$vo.icon|get_cover='path'}"/></div>
                </notempty>
                </div>
            </div>
            <script type="text/javascript">
            //上传图片
            /* 初始化上传插件 */
            $("#upload_picture").uploadify({
                "height"          : 30,
                "swf"             : "__STATIC__/uploadify/uploadify.swf",
                "fileObjName"     : "download",
                "buttonText"      : "上传图片",
                "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                "width"           : 120,
                'removeTimeout'	  : 1,
                'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
                "onUploadSuccess" : uploadPicture,
                'onFallback' : function() {
                    alert('未检测到兼容版本的Flash.');
                }
            });
            function uploadPicture(file, data){
                var data = $.parseJSON(data);
                var src = '';
                if(data.status){
                    $("#icon").val(data.id);
                    src = data.url || '__ROOT__' + data.path;
                    $("#icon").parent().find('.upload-img-box').html(
                        '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                    );
                } else {
                    updateAlert(data.info);
                    setTimeout(function(){
                        $('#top-alert').find('button').click();
                        $(that).removeClass('disabled').prop('disabled',false);
                    },1500);
                }
            }
            </script>
        </div>
        <div class="form-item">
            <div class="controls">
                <label class="item-label">视频文件<span><span class="check-tips">（视频资讯必须上传）</span></span></label>
                <input type="file" id="upload_picture2">
                <input type="hidden" name="file" id="file" value="{$vo.file}"/>
                <div class="upload-img-box">
                    <video style="width: 500px; height: 400px;float: left;" src="{$vo.file|fileurl}" controls="controls"></video>
                </div>
            </div>
            <script type="text/javascript">
                //上传视频
                /* 初始化上传插件 */
                $("#upload_picture2").uploadify({
                    "height"          : 30,
                    "swf"             : "/Public/static/uploadify/uploadify.swf",
                    "fileObjName"     : "download",
                    "buttonText"      : "上传视频",
                    "uploader"        : "/Admin/File/upload/session_id/qvv69dse7br6f85t9ia2atc3b3.html",
                    "width"           : 120,
                    'removeTimeout'	  : 1,
                    'fileTypeExts'	  : '*.mp4;*.wmv;*.mpg;',
                    "onUploadSuccess" : uploadPicture,
                    'onFallback' : function() {
                        alert('未检测到兼容版本的Flash.');
                    }

                });
                function uploadPicture(file, data){

                    var data = $.parseJSON(data);
                    var src = '';
                    if(data.status){
                        $("#file").val(data.id);
                        src = data.url || '' + data.info;

                        $("#file").parent().find('.upload-img-box').html(
                                '<div class="upload-pre-item">'+src+'</div>'
                                /* '<video style="width: 500px; height: 400px;float: left;" src="'+src+'" controls="controls"></video>'*/
                        );
                    } else {
                        updateAlert(data.info);
                        setTimeout(function(){
                            $('#top-alert').find('button').click();
                            $(that).removeClass('disabled').prop('disabled',false);
                        },1500);
                    }
                }
            </script>
        </div>

        
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Goods/index')}');

        $("input[name=adbg]").colorpicker({
            fillcolor:true,
            success:function(o,color){
                $(o).css("color",color);
            }
        });
    </script>
</block>