<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/stylelawyer.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer.css" />
    <script type="text/javascript" src="__JS__/api.js"></script><script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/swiper.min.js"></script><script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
    <script type="text/javascript" src="__JS__/mobile.js"></script><script type="text/javascript" src="__JS__/ajaxupload.3.5.js" ></script><script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

</head>
<body>
<header class="header">
    <a href="javascript:void(0);"  class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
    <h2>竞标动态</h2>
    <!--<a href="my_answer.html" class="myAnswer_btn">我的回答</a>-->
</header>
<section class="bid_condition">
    <ul>
        <li>
            <select name="area" id="area">
                <option value="">已中标</option>
                <option value="">未中标</option>
            </select>
        </li>
        <li>
            <select name="kinds" id="kinds">
                <option value="">案件类型</option>
                <option value="">合同纠纷</option>
                <option value="">离婚协议</option>
            </select>
        </li>
        <li>
            <select name="" id="">
                <option value="">智能排序</option>
            </select>
        </li>
    </ul>
</section>
<section class="ask_square">
    <div class="ask_list bid_list">
        <ul>
            <li>
                <a href="javascript:;" onclick="aaplay('index','bid_dynamic_details.html')">
                    <div class="userInfo">
                        <img src="__IMG__/userimg1.jpg" alt="">
                        <div class="userName">
                            <h6>135****7574</h6>
                            <span>重庆 重庆市 <em>2018-11-18  15:18</em></span>
                        </div>
                    </div>
                    <div class="comment_info">
                        <p>我转租了一个门面，签合同的时候说明里面东西都归我，现在有人来说机器是他的，要求我归还，我是不是可以不给他？</p>
                    </div>
                    <div class="ask_kinds">
                        <span>合同纠纷</span>
                    </div>
                    <div class="bid_price">
                        <p>我的报价:<i>3000元</i></p>
                        <span class="look_num">58人浏览</span>
                        <span class="bid_num">4人竞标</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;" onclick="aaplay('index','bid_dynamic_details.html')">
                    <div class="userInfo">
                        <img src="__IMG__/userimg2.jpg" alt="">
                        <div class="userName">
                            <h6>135****7574</h6>
                            <span>重庆 重庆市 <em>2018-11-18  15:18</em></span>
                        </div>
                    </div>
                    <div class="comment_info">
                        <p>我打算和儿子他妈协议离婚，我给他两间房，但我想让她以后管儿子，管儿子结婚，上学，如果她同意，又怕她以后无法落实，我该怎么办？ </p>
                    </div>
                    <div class="ask_kinds">
                        <span>离婚协议</span>
                    </div>
                    <div class="bid_price">
                        <p>我的报价:<i>5000元</i></p>
                        <span class="look_num">58人浏览</span>
                        <span class="bid_num">4人竞标</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;" onclick="aaplay('index','bid_dynamic_details.html')">
                    <div class="userInfo">
                        <img src="__IMG__/userimg1.jpg" alt="">
                        <div class="userName">
                            <h6>135****7574</h6>
                            <span>重庆 重庆市 <em>2018-11-18  15:18</em></span>
                        </div>
                    </div>
                    <div class="comment_info">
                        <p>我转租了一个门面，签合同的时候说明里面东西都归我，现在有人来说机器是他的，要求我归还，我是不是可以不给他？</p>
                    </div>
                    <div class="ask_kinds">
                        <span>合同纠纷</span>
                    </div>
                    <div class="bid_price">
                        <p>我的报价:<i>3000元</i></p>
                        <span class="look_num">58人浏览</span>
                        <span class="bid_num">4人竞标</span>
                    </div>
                </a>
            </li>

            <li>
                <a href="javascript:;" onclick="aaplay('index','bid_dynamic_details.html')">
                    <div class="userInfo">
                        <img src="__IMG__/userimg2.jpg" alt="">
                        <div class="userName">
                            <h6>135****7574</h6>
                            <span>重庆 重庆市 <em>2018-11-18  15:18</em></span>
                        </div>
                    </div>
                    <div class="comment_info">
                        <p>我打算和儿子他妈协议离婚，我给他两间房，但我想让她以后管儿子，管儿子结婚，上学，如果她同意，又怕她以后无法落实，我该怎么办？ </p>
                    </div>
                    <div class="ask_kinds">
                        <span>离婚协议</span>
                    </div>
                    <div class="bid_price">
                        <p>我的报价:<i>5000元</i></p>
                        <span class="look_num">58人浏览</span>
                        <span class="bid_num">4人竞标</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>


</body><include file="Public/footer" /><script type="text/javascript" src="__JS__/lawyer.js"></script>

<script>
   
</script>
</html>