<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/stylelawyer.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer_user.css"/>
    <script type="text/javascript" src="__JS__/api.js"></script>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/swiper.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
    <script type="text/javascript" src="__JS__/mobile.js"></script>
    <script type="text/javascript" src="__JS__/ajaxupload.3.5.js"></script>
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

    <script type="text/javascript" src="__JS__/mobile-detect.js"></script>
    <script type="text/javascript" src="__JS__/mobile-detect.min.js"></script>

    <script src="/Public/webim/chat/demo/javascript/dist/webim.config.js"></script>
    <script src="/Public/webim/chat/sdk/dist/strophe-1.2.8.min.js"></script>
    <script src="/Public/webim/chat/sdk/dist/webimSDK-1.4.13.js"></script>
    <script src="/Public/webim/chat/webrtc/dist/adapter.js"></script>
    <script src="/Public/webim/chat/webrtc/dist/webrtc-1.4.12.js"></script>

    <!-- fix: ie8 upload -->
    <script type='text/javascript' src='/Public/webim/chat/ie8/swfupload/uploadShim.js'></script>
</head>
<body>
<header class="header">
    <!-- <a href="javascript:void(0);"  class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a> -->
    <h2>登录</h2>
    <a href="javascript:void(0);" class="qiandao_btn" onclick="aaplay('register')"
       style="position: absolute;  right: 3%; top: 0; color: #fff;">注册</a>
    <!--<a href="javascript:void(0);" class="qiandao_btn"><img src="__IMG__/qiandao.png" alt=""></a>-->
</header>
<section class="login_choose">
    <ul>
        <li><a href="javascript:;" onclick="aaplay('login')">账号密码登录</a></li>
        <li class="active"><a href="javascript:;">手机快捷登录</a></li>

    </ul>
</section>
<section class="login_section">
    <div class="fyb_logo"><img src="__IMG__/fyb_logo.png" alt=""></div>
    <div class="login_box">
        <ul>
            <li class="username"><input type="text" placeholder="请输入手机号" id='phone' name='phone' value="{$phone}"></li>
            <li class="tel_code"><input type="text" placeholder="请输入验证码" id='yzm' name='yzm'><span id='regyzm'
                                                                                                   style="cursor:pointer">获取验证码</span>
            </li>

            <!--<li class="user_code"><input type="text" placeholder="请输入推荐人邀请码(选填)" id='idno' name='idno'></li>-->
        </ul>

        <p class="agree">成功登录即表示您同意<a href="##" onclick="aaplay('yhxy')">《用户协议》</a></p>
        <button class="login_submit" type="submit" onclick="login()">立即登录</button>
        <!--<p>如果该手机号为第一次登录，我们会直接为该 <br>手机号创建会员</p>-->
    </div>
    <div class="login_kinds" style="">
        <h6><span>第三方登录</span></h6>
        <ul>
            <li><a href="javascript:;" onclick="sanfangqq()"><img src="__IMG__/ologin1.png" alt=""></a></li>
            <!--<li><a href="javascript:;" onclick="initWXBind()"><img src="__IMG__/ologin2.png" alt=""></a></li>-->
            <li><a href="{$web_url}"><img src="__IMG__/ologin3.png" alt=""></a></li>
        </ul>
    </div>
</section>
<aside class="download">
    <a href="{:U('public/login_account')}" class="user_download">普通用户点击跳转【法援宝】</a>
</aside>


</body>
<include file="Public/footer"/>
<script type="text/javascript" src="__JS__/lawyer.js"></script>
<script type="text/javascript">
    var conn = {};
    conn = new WebIM.connection({
        isMultiLoginSessions: WebIM.config.isMultiLoginSessions,
        https: typeof WebIM.config.https === 'boolean' ? WebIM.config.https : location.protocol === 'https:',
        url: WebIM.config.xmppURL,
        isAutoLogin: true,
        heartBeatWait: WebIM.config.heartBeatWait,
        autoReconnectNumMax: WebIM.config.autoReconnectNumMax,
        autoReconnectInterval: WebIM.config.autoReconnectInterval,
        apiUrl: WebIM.config.apiURL
    });

    // tips: ie8 support  fileInputId should match with the file in the document
    WebIM.flashUpload = UploadShim({fileInputId: 'image'}, conn).flashUpload;

    // listern，添加回调函数
    conn.listen({
        onOpened: function (message) {          //连接成功回调，连接成功后才可以发送消息
            //如果isAutoLogin设置为false，那么必须手动设置上线，否则无法收消息
            // 手动上线指的是调用conn.setPresence(); 在本例中，conn初始化时已将isAutoLogin设置为true
            // 所以无需调用conn.setPresence();
            console.log("%c [opened] 连接已成功建立", "color: green")
        },
        onTextMessage: function (message) {

        },  //收到文本消息
        onEmojiMessage: function (message) {

        },   //收到表情消息
        onPictureMessage: function (message) {

        }, //收到图片消息
        onCmdMessage: function (message) {
            console.log('CMD');
        },     //收到命令消息
        onAudioMessage: function (message) {
            console.log("Audio");
        },   //收到音频消息
        onLocationMessage: function (message) {
            console.log("Location");
        },//收到位置消息
        onFileMessage: function (message) {
            console.log("File");
        },    //收到文件消息
        onVideoMessage: function (message) {

        },   //收到视频消息
        onPresence: function (message) {

        },       //收到联系人订阅请求（加好友）、处理群组、聊天室被踢解散等消息
        onRoster: function (message) {
            console.log('Roster');
        },         //处理好友申请
        onInviteMessage: function (message) {
            console.log('Invite');
        },  //处理群组邀请
        onOnline: function () {
            console.log('onLine');
        },                  //本机网络连接成功
        onOffline: function () {
            console.log('offline');
        },                 //本机网络掉线
        onError: function (message) {
            console.log('Error');
            console.log(message);
            if (message && message.type == 1) {
                console.warn('连接建立失败！请确认您的登录账号是否和appKey匹配。')
            }
        },           //失败回调
        onBlacklistUpdate: function (list) {
            // 查询黑名单，将好友拉黑，将好友从黑名单移除都会回调这个函数，list则是黑名单现有的所有好友信息
            console.log(list);
        }     // 黑名单变动
    });
</script>
<script>

    localStorage.clear();

    console.log(loginphone)

    var md = new MobileDetect(
        'Mozilla/5.0 (Linux; U; Android 4.0.3; en-in; SonyEricssonMT11i' +
        ' Build/4.1.A.0.562) AppleWebKit/534.30 (KHTML, like Gecko)' +
        ' Version/4.0 Mobile Safari/534.30');

    var os = md.os();
    if (os == "iOS") {
        var mt = 2
    } else if (os == "AndroidOS") {
        var mt = 1
    }

    //apk()
    function apk() {

        if (mt == 1) {
            var p = {id: 31};
        } else {
            var p = {id: 32};
        }
        $.post(webSiteUrl + '/app/public/ad', p, function (ret) {
            if (ret.code == 200) {
                var tj = ret.data;
                if (tj != null) {
                    $('.user_download').attr('href', webSiteUrl + tj.file);
                    $('.user_download').attr('download', webSiteUrl + tj.file);

                }
            }

        });

    }

    $('#phone').val(loginphone);

    $('#regyzm').click(function () {
        if ($(this).hasClass('regyzm') == false) {
            var phone = $('input[name=phone]').val();
            if (phone == '') {
                alert("请输入手机号！");
                return;
            } else if (!/^1[345678]\d{9}$/.test(phone)) {
                alert("手机号格式错误！");
                return;
            }

            var p = {phone: phone, type: 1};
            $.post(webSiteUrl + '/app/public/yzm', p, function (ret) {
                if (ret.code == 200) {

                    $('#regyzm').addClass('regyzm');
                    var num = 60;
                    timer = setInterval(function () {
                        $('#regyzm').html(num + '秒');
                        num--;
                        if (num == 0) {
                            clearInterval(timer);
                            timer = null;
                            $('#regyzm').html('重新获取');
                            $('#regyzm').removeClass('regyzm');
                        }
                    }, 1000)

                    alert(ret.msg);

                } else {

                    alert(JSON.stringify(ret.data));
                }
            });

        }
    })

    function login() {
        var phone = $("input[name=phone]").val();
        var yzm = $("input[name=yzm]").val();
        //var idno=$("input[name=idno]").val();

        if (phone == '') {
            alert("请输入手机号！");
            return;
        } else if (!/^1[345678]\d{9}$/.test(phone)) {
            alert("手机号格式错误！");
            return;
        } else if (yzm == '') {
            alert("请输入验证码！");
            return;
        }

        var p = {phone: phone, yzm: yzm, type: 2};
        //$.post(webSiteUrl+'/home/public/waplogin',p,function(ret){
        $.post("{:U('Public/waplogin')}", p, function (ret) {
            var ret = jQuery.parseJSON(ret);
            if (ret.code == 200) {
                alert(ret.msg)
                //alert(JSON.stringify(ret.data));

                var option = {
                    username: phone,
                    password: '123456',
                    nickname: '',
                    appKey: WebIM.config.appkey,
                    success: function () {
                        console.log('regist success!');
                        var options = {
                            apiUrl: WebIM.config.apiURL,
                            user: phone,
                            pwd: "123456",
                            appKey: WebIM.config.appkey
                        };
                        conn.open(options);
                    },
                    error: function () {
                        console.log('regist error');
                        var options = {
                            apiUrl: WebIM.config.apiURL,
                            user: phone,
                            pwd: "123456",
                            appKey: WebIM.config.appkey
                        };
                        conn.open(options);
                    },
                    apiUrl: WebIM.config.apiURL
                };
                conn.signup(option);

                location.href = '/home/lawyer/workbench'

            } else if (ret.code == 202) {
                alert(ret.msg)

                location.href = '/home/lawyer/register'

            } else {
                alert(ret.msg)
            }
        });

    }

    function sanfangqq() {
        location.href = '/Home/Public/qq_login';

    }

    //微博登录
    function initWBBind() {
        location.href = '/home/public/wb_login';

    }

</script>
</html>