<extend name="Public/base"/>

<block name="body">
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title">
        <h2>查看（{$vo.name}）详情</h2>
    </div>
    <ul class="tab-nav nav">
        <li class="current"><a href="javascript:void(0)">基本信息</a></li>
    </ul>
    
    <form action="{:U()}" method="post" class="form-horizontal">
    <input type="hidden" name="tid" value="{$vo[id]}">
    <div class="tab-content">
        <div class="form-item">
            <label class="item-label">姓名<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large"  value="{$vo['nickname']}" disabled>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">电话</label>
            <div class="controls">
                <input type="text" class="text input-large"  value="{$vo.phone}" disabled>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">邮箱</label>
            <div class="controls">
                <input type="text" class="text input-large" value="{$vo.email}" disabled>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">公司名称</label>
            <div class="controls">
                <input type="text" class="text input-large" value="{$vo.cpyname}" disabled>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">所在城市</label>
            <div class="controls">
                <input type="text" class="text input-large" value="{$vo.city}" disabled>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">公司地址</label>
            <div class="controls">
                <input type="text" class="text input-large" value="{$vo.addr}" disabled>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">公司邮编</label>
            <div class="controls">
                <input type="text" class="text input-large" value="{$vo.yb}" disabled>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">营业执照号码</label>
            <div class="controls">
                <input type="text" class="text input-large" value="{$vo.shopno}" disabled>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">绿卡号码</label>
            <div class="controls">
                <input type="text" class="text input-large" value="{$vo.greenno}" disabled>
            </div>
        </div>

        <!--<div class="form-item">
            <label class="item-label">证件正面</label>
            <div class="controls">
                <img src="{$vo.zm|picture}" style="max-width: 400px">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">证件反面</label>
            <div class="controls">
                <img src="{$vo.fm|picture}" style="max-width: 400px">
            </div>
        </div>-->



        <div class="form-item">
           <!-- <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">回复</button>-->
            <a href="{:U('index')}" class="btn btn-return">返 回</a>
        </div>
    </div>

    </form>
</block>
<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U("Userapply/index")}');

    </script>
</block>

