<extend name="Public/base"/>

<block name="body">

    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title">
        <h2>修改（{$vo.name}）费用设置</h2>
    </div>
    <ul class="tab-nav nav">

        <li class="current"><a href="javascript:void(0)">基本信息</a></li>

    </ul>

    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="tab-content">
            <div class="form-item">
                <label class="item-label">费用设置名称<span class="check-tips">（必须填写）</span></label>
                <div class="controls">
                    <input type="text" class="text input-large" name="name" value="{$vo['name']}">
                    <input type="hidden" name="id" value="{$vo.id}" />
                </div>
            </div>
            <div class="form-item">
                <label class="item-label">普通用户</label>
                <div class="controls">
                    <input type="text" class="text input-large" name="vip0" value="{$vo.vip0}">
                </div>
            </div>
            <div class="form-item">
                <label class="item-label">会员基础版</label>
                <div class="controls">
                    <input type="text" class="text input-large" name="vip1" value="{$vo.vip1}">
                </div>
            </div>
            <div class="form-item">
                <label class="item-label">会员高级版</label>
                <div class="controls">
                    <input type="text" class="text input-large" name="vip02" value="{$vo.vip2}">
                </div>
            </div>
            <div class="form-item">
                <label class="item-label">排序</label>
                <div class="controls">
                    <input type="text" class="text input-large" name="sort" value="{$vo['sort']}">
                </div>
            </div>



            <div class="form-item">
                <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
                <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
            </div>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:U('Color/index')}');

    </script>
</block>
