<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer_user.css" />
    <script type="text/javascript" src="__JS__/api.js"></script>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/mobile.js"></script><script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script><script type="text/javascript" src="__JS__/ajaxupload.3.5.js" ></script><script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

</head>
<body>
<header class="header">
    <a href="javascript:void(0);"  class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
    <h2>已完成</h2>
    <!--<a href="ask_page_myAnswer.html" class="myAnswer_btn">我的回答</a>-->
</header>
<section class="ask_square">
    <div class="ask_list">
        <ul id="list">

        </ul>
    </div>
</section>


</body><include file="Public/userfooter" /><script type="text/javascript" src="__JS__/lawyer_user.js"></script>
<script>

    toDoRequest2();

    //已完成
    function toDoRequest2(){
        loginCheck()
        var p = {uid:uid,type:4};
        $.post(webSiteUrl+'/app/public/wt',p,function(ret){
            if (ret.code == 200) {
                
                var html = '';
                var list = ret.data;
                if (list != null) {
                    for (var i =0;i< list.length; i++) {
                        var tip='';
                        if(list[i].type==1 ){
                            tip='<span class="orderTips">互助订单</span>';
                        }else if(list[i].type==2 ){
                            tip='<span class="orderTips">众筹订单</span>';
                        }
                            html += '<li onclick="xiangqi('+list[i].uid+','+list[i].id+','+list[i].type+')"><a href="javascript:;"><div class="userInfo"><img src="'+list[i].icon+'" alt=""><div class="userName"><h6>'+list[i].phone+'</h6><span>'+list[i].addr+' <em class="bid_status">已完成</em></span></div></div><div class="comment_info"><p>'+tip+list[i].content+'</p></div></a><div class="ask_kinds"><p></p><div class="ask_active"><a href="##" class="look_order" onclick="chakan('+list[i].id+')">查看订单</a></div></div></li>';
                    }

                    $('#list').html(html);
                }
            }else{
                $('#list').html('<p style="text-align:center">暂无数据</p>');
            }
        });
    }

    function xiangqi(uid,id,type){
        if(type==0){
            location.href='/home/user/case_entrusted_details_originator?id='+id+'&uid='+uid;
        }else if(type==1){
            location.href='/Home/user/mutualAid_details_bid?id='+id+'&uid='+uid+'&type=1';
        }else{
            location.href='/Home/user/mutualAid_details_bid?id='+id+'&uid='+uid+'&type=2';
        }

    }

</script>
</html>