<!DOCTYPE HTML>
<html style="background: #f9f9f9">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer_user.css" />
    <script type="text/javascript" src="__JS__/api.js"></script>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/mobile.js"></script><script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script><script type="text/javascript" src="__JS__/ajaxupload.3.5.js" ></script><script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <style type="text/css">
        .userName{
            position: relative;
            width: 100%!important;
        }
        .dashang{
            position: absolute;
            right: 0;
            background: url("__IMG__/jinbi.png") left center no-repeat!important;
            background-size: 0.3rem auto!important;
            font-size: 0.26rem;
            color: #f3a536!important;
            padding-left: 0.45rem;
        }
    </style>
</head>
<body style="background: #f9f9f9">
<header class="header">
    <a href="javascript:void(0);"  class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
    <h2>咨询详情</h2>
    <!--<a href="javascript:void(0);" class="qiandao_btn">注册</a>-->
</header>
<section class="ask_article">
    <div class="userInfo">
        <img src=""  id='icon'>
        <div class="userName">
            <h6 id='name'>135****7574</h6>
            <span id='time'>2018-11-25  18:51</span>
            <em class="dashang">10元</em>
        </div>
    </div>
    <div class="comment_info">
        <p id='content'></p>
    </div>
</section>

<section class="comment_section">
    <div class="news_title">
        <h2>律师回复</h2>
    </div>
    <div class="comment_list">
        <ul id='con'>
        
            
        </ul>
    </div>
</section>
<section class="fixed_xinyi">
    <div class="xinyi_content">
        <div class="lawyer_pic">
            <img src="" alt="" id='icon1'>
            <p>感谢律师尽心尽责的帮助</p>
<input type="text" id="price" placeholder="输入金额"  value="" onkeyup="this.value=this.value.replace(/[^0-9.]/g,'')">
            <div class="choose_price">
                <ul>
                    <li class="random">随机金额</li>
                    <li>6.6元</li>
                    <li>6.6元</li>
                </ul>
            </div>
            <a href="javascript:;" class="sure_btn" onclick="givemind()">确定</a>
        </div>
    </div>
</section>


</body><include file="Public/userfooter" /><script type="text/javascript" src="__JS__/lawyer_user.js"></script>
<script>

    var me=0;
    var is_caina=0;
    var sid=0;

     askinfo()
     function askinfo() {
        var p={id:para('id')};
        $.post(webSiteUrl+'/app/public/askinfo',p,function(ret){
            if(ret.code==200){
                $('#icon').attr('src',ret.data.icon);
                $('#name').html(ret.data.name);
				//alert(ret.data.time);
                $('#time').html(ret.data.time);
                $('#content').html(ret.data.content);

                if(ret.data.reward_price ==0){
                    $(".dashang").hide();
                }else {
                    $(".dashang").html(ret.data.reward_price+'元')
                }

                me=ret.data.uid;
                
            }
            iscaina();
        });

    };

    function iscaina(){
        var p={token:token,id:para('id')};
        $.post(webSiteUrl+'/app/user/is_caina',p,function(ret){
            if(ret.code==200){
               
                is_caina=1
            }
            toDoRequest()
        });
       
    }

    function toDoRequest(){
        var p={id:para('id')}
        $.post(webSiteUrl+'/app/public/faskdetail',p,function(ret){

                if(ret.code==200){

                    html = "";
                    var tj=ret.data.list;
                    if(tj != null){

                    for(var i=0;i<tj.length;i++){
html+='<li><div class="userInfo"  onclick="lawyer('+tj[i].sid+')"><img src="'+tj[i].icon+'" alt=""><div class="userName"><h6>'+tj[i].nickname+'律师</h6><span>'+tj[i].time+'</span></div><a href="javascript:;" class="consultation_btn"   onclick="lawyer('+tj[i].sid+')">咨询</a></div><div class="comment_info"><p>'+tj[i].content+'</p></div><div class="comment_active">';
if(me==uid && is_caina==0){
    if(tj[i].choose==1){
        html+='<span class="caina_active active">已采纳</span>';
    }
}
html+='<div class="active_list"><dl>';
if(me==uid && is_caina==0){
    html+='<dd class="caina" data="'+tj[i].id+'" style="cursor: pointer">采纳</dd><dd class="xinyi" data="'+tj[i].sid+'" tx="'+webSiteUrl+tj[i].icon+'" style="cursor: pointer">送心意</dd>';
}
html+='</dl></div></div></li>';
    

                    }
                        $('#con').html(html);
                    }else{
                        $('#con').html('<p style="text-align:center">暂无回复</p>');
                    }

                }
            });

        
    }
    $(document).on('click','.caina',function(){
        loginCheck()
        var id=$(this).attr('data');
        var c=$(this);


        if(window.confirm("确认采纳吗？")){

            var p={token:token,id:id};
            $.post(webSiteUrl+'/app/user/caina',p,function(ret){
                if(ret.code==200){
                    c.hide();
                    c.parents('.active_list').prev('.active').show()

                }
            });

        }
    })

    
    function givemind(){
        loginCheck()
        var money=$('#price').val();
        if(money==""){
            alert('请输入金额');return;
        }else if(money.indexOf('元')){

            money=money.replace('元','');
        }else if(!/^\d+$/.test(money)){
            alert('金额必须是数字');return;
        }

        mind_pay(sid,money)
    }
    

    //隐藏已采纳
    $(".comment_active .active").hide();

    //送心意
    $(document).on('click','.xinyi',function () {
        sid=$(this).attr('data');
        $('#icon1').attr('src',$(this).attr('tx'));

        $(".fixed_xinyi").fadeToggle();
        $(".fixed_xinyi .xinyi_content").animate({
            'top': '0',
            'opacity': '1'
        },400);
    });
    $(".sure_btn").click(function () {
        $(".fixed_xinyi").fadeToggle();
        $(".fixed_xinyi .xinyi_content").animate({
            'top': '-4rem',
            'opacity': '0'
        },400);
    });

    $(".choose_price ul li").click(function () {
        if($(this).index()!=0){
            $(this).addClass('active').siblings('li').removeClass('active');
            $("#price").val($(this).html());
        }else {
            var num = (Math.random()*10+1).toFixed(1)+'元';
            $("#price").val(num);
        }
    });

    

    

</script>
</html>