<!DOCTYPE HTML>
<html style="background: #f3f3f3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer_user.css" />
    <script type="text/javascript" src="__JS__/api.js"></script>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/mobile.js"></script><script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script><script type="text/javascript" src="__JS__/ajaxupload.3.5.js" ></script><script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

</head>
<body style="background: #f3f3f3">
<header class="header">
    <a href="javascript:void(0);"  class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
    <h2>费用计算</h2>
    <!--<a href="javascript:void(0);" class="qiandao_btn">注册</a>-->
</header>


<section class="cost_calc">
    <div class="calc_list">
        <h6 class="cost_title">选择查询内容</h6>
        <ul>
            <li>
                <a href="javascript:;" onclick="aaplay('cost_calc_lawyer.html')">
                    <img src="__IMG__/cost1.png" alt="">
                    <div class="cost_name">
                        <h6>律师费查询</h6>
                        <p>快速查询及合理评估律师费</p>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;" onclick="aaplay('cost_calc_litigation.html')">
                    <img src="__IMG__/cost2.png" alt="">
                    <div class="cost_name">
                        <h6>诉讼费查询</h6>
                        <p>了解诉讼费包括哪些内容</p>
                    </div>
                </a>
            </li>
            <li>
                <img src="__IMG__/cost3.png" alt="">
                <div class="cost_name">
                    <h6>交通事故</h6>
                    <p>暂未开通</p>
                </div>
            </li>
            <li>
                <img src="__IMG__/cost4.png" alt="">
                <div class="cost_name">
                    <h6>律师费查询</h6>
                    <p>暂未开通</p>
                </div>
            </li>
        </ul>
    </div>
</section>

</body><include file="Public/userfooter" /><script type="text/javascript" src="__JS__/lawyer_user.js"></script>
<script>

   
</script>
</html>