<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/mobiscroll_002.css" >
    <link rel="stylesheet" type="text/css" href="__CSS__/baguetteBox.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer_user.css" />
    <script type="text/javascript" src="__JS__/api.js"></script>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/baguetteBox.js"></script>
    <script type="text/javascript" src="__JS__/highlight.min.js"></script>
    <script type="text/javascript" src="__JS__/mobile.js"></script><script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script><script type="text/javascript" src="__JS__/ajaxupload.3.5.js" ></script><script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

    <script src="__JS__/mobiscroll_002.js" type="text/javascript"></script>
    <script src="__JS__/mobiscroll_004.js" type="text/javascript"></script>
    <script src="__JS__/mobiscroll.js" type="text/javascript"></script>
    <script src="__JS__/mobiscroll_003.js" type="text/javascript"></script>
    <script src="__JS__/mobiscroll_005.js" type="text/javascript"></script>

    <style type="text/css">
        .gallery{
            display: flex;
            margin-top: 0.2rem;
        }
        .gallery a{
            width: 31%;
            margin-right: 3%;
        }
        .gallery a img{
            display: block;
            width: 2.22rem;
            height: 2.22rem;
        }
        .gallery a:last-child{
            margin-right: 0;
        }
        .full-image img{
            width:100%!important;
        }
    </style>
</head>
<body>
<header class="header">
    <a href="javascript:void(0);"  class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
    <h2>律师圈</h2>
    <a href="release_dynamic.html" class="myAnswer_btn edit_btn"><img src="__IMG__/edit_icon.png" alt=""></a>
</header>

<section class="lawyers_group">
    <div class="lawyers_list">
        <ul id="con">
            <!--<li>
                <div class="userInfo">
                    <img src="__IMG__/userimg1.jpg" alt="">
                    <div class="userName">
                        <h6>张岳伦律师 <i>LV.6</i></h6>
                        <span>2018-11-25  18:51</span>
                    </div>
                    <a href="##" class="zixun_btn">咨询</a>
                </div>
                <a href="javascript:;" onclick="aaplay('index','##')">
                    <div class="comment_info">
                        <p>我转租了一个门面，签合同的时候说明里面东西都归我，现在有人来说机器是他的，要求我归还，我是不是可以不给他？</p>
                        <dl>
                            <dd><img src="__IMG__/photos1.jpg" alt=""></dd>
                            <dd><img src="__IMG__/photos2.jpg" alt=""></dd>
                            <dd><img src="__IMG__/photos3.jpg" alt=""></dd>
                        </dl>
                    </div>
                </a>
                <div class="lawyers_active">
                    <dl>
                        <dd><a href="##" class="lawyer_share">34</a></dd>
                        <dd><a href="##" class="lawyer_info">20</a></dd>
                        <dd><a href="javascript:void (0);" class="lawyer_fabulous">132</a></dd>
                    </dl>
                </div>
            </li>-->
        </ul>
    </div>
</section>


</body><include file="Public/userfooter" /><script type="text/javascript" src="__JS__/lawyer_user.js"></script>
<script>
    baguetteBox.run('.baguetteBoxOne');

    var page=1;
    var p='';

    toDoRequest()

    function toDoRequest(){
        //p= {uid:uid,utype:1,page:page};
        p= {page:page};
        $.post(webSiteUrl+'/app/public/dt',p,function(ret){
            if(ret.code==200){

                html = "";
                var tj=ret.data.data;
                if(tj != null){

                    for(var i=0;i<tj.length;i++){
                        html+='<li><div class="userInfo" onclick="dtdetail('+tj[i].id+')"><img src="'+webSiteUrl+tj[i].icon+'" alt=""><div class="userName"><h6>'+tj[i].nickname;
                        if(tj[i].utype==2){
                            html+='<i>LV.6</i>';
                        }
                        html+='</h6><span>'+tj[i].time+'</span></div></div><div class="comment_info" ><a href="javascript:;" onclick="dtdetail('+tj[i].id+')"><p>'+tj[i].content+'</p></a><div class="baguetteBoxOne gallery">';
                        if(tj[i].icons.length>0){
                            for(var j=0;j<tj[i].icons.length;j++){

                                html+='<a href="'+webSiteUrl+tj[i].icons[j]+'" data-caption=""><img src="'+webSiteUrl+tj[i].icons[j]+'"></a>';
                            }
                        }
                        html+='</div></div><div class="lawyers_active"><dl><dd><a href="##" class="lawyer_share" onclick="zhuanfa('+tj[i].id+')">'+tj[i].zf+'</a></dd><dd><a href="##" onclick="dtdetail('+tj[i].id+')" class="lawyer_info">'+tj[i].pl+'</a></dd><dd><a href="javascript:;" ';
                        if(tj[i].is_dz == 1){
                            html+='class="lawyer_fabulous active"';
                        }else{
                            html+='class="lawyer_fabulous"';
                        }
                        html+=' data="'+tj[i].id+'">'+tj[i].dz+'</a></dd></dl></div></li>';

                    }
                }
                if(page==1){
                    $('#con').html(html);
                }else{
                    $('#con').append(html);
                }
                page++;

                baguetteBox.run('.baguetteBoxOne');

            }else{
                if(page==1){
                    $('#con').html('<p style="text-align:center">暂无数据</p>');
                }

            }
        });

    }

    function zhuanfa(id) {
        location.href = '/home/user/release_dynamic?id=' + id;

    }
    //点赞
    $(document).on('click','.lawyers_list dl dd .lawyer_fabulous',function(){
	
		loginCheck();
        //console.log(parseInt($(this).text())+1)
        if(!$(this).hasClass('active')){
            $(this).addClass('active');
            $(this).html(parseInt($(this).text())+1)

            var id=$(this).attr('data');

            var p={token:token,type:2,id:id}
            $.post(webSiteUrl+'/app/user/add_dz',p,function(ret){
           

            });

        }
    });


    /*//点赞
    $(".lawyers_list dl dd .lawyers_fabulous").click(function () {
        //console.log(parseInt($(this).text())+1)
        if(!$(this).hasClass('active')){
            $(this).addClass('active');
            $(this).html(parseInt($(this).text())+1)
        }
    });*/

    
</script>
</html>