<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/mobiscroll_002.css" >
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer_user.css" />
    <script type="text/javascript" src="__JS__/api.js"></script>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/mobile.js"></script><script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script><script type="text/javascript" src="__JS__/ajaxupload.3.5.js" ></script><script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

    <script src="__JS__/mobiscroll_002.js" type="text/javascript"></script>
    <script src="__JS__/mobiscroll_004.js" type="text/javascript"></script>
    <script src="__JS__/mobiscroll.js" type="text/javascript"></script>
    <script src="__JS__/mobiscroll_003.js" type="text/javascript"></script>
    <script src="__JS__/mobiscroll_005.js" type="text/javascript"></script>
</head>
<body>
<header class="header">
    <a href="javascript:void(0);"  class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
    <h2>诉讼保全服务</h2>
    <a href="tel:{:C('WEB_SITE_MOBILE')}" class="search_btn set_btn"><img src="__IMG__/tel.png" alt=""></a>
</header>

<section class="preservation">
    <div class="news_title">
        <h2>诉讼保全保险介绍</h2>
    </div>
    <div class="preser_info">
        <p>
            诉讼保全保险全称为诉讼财产保全责任保险，是指在诉讼财产保全过程中，由保险公司向人民法院提供保全担保的一种保险，当财产保全错误时,由保险公司负责赔偿被保全人的财产损失。该保险的目的是为了方便当事人进行诉讼财产保全，避免由于无法提供担保财产而无法进行保全的情形。当事人仅需花很少的一部分资金购买- -份保险就可以实现大额财产保全的目的，最大限度的保护当事人的权益不受损失。
        </p>
    </div>
    <div class="news_title">
        <h2>常见问题</h2>
    </div>
    <div class="question_list">
        <ul>
            <li>
                <h6>投保所需要交纳的保费是多少?</h6>
                <p>根据您所提供的被保全财产金额及案件相关材料，进行个案报价。</p>
            </li>
            <li>
                <h6>材料交齐后，多久可以进行投保?</h6>
                <p>材料交齐、审核成功后，最快8个小时可以出单。</p>
            </li>
            <li>
                <h6>是所有法院都接受保险保函吗?</h6>
                <p>截至目前，全国合作法院已逾三千家，但为了确保您的案件顺利进行，建议您事先与受理您案件的承办法官进行沟通知会。</p>
            </li>
            <li>
                <h6>保费可分期么?有最低收费要求么?</h6>
                <p>保险合同成立时一次性交清保险费，不得约定分期或起保后交付。</p>
            </li>
            <li>
                <h6>有最低收费要求么?</h6>
                <p>由于此类业务需要事先进行风险审核，并发生一-定风险审核费用，每张保单应在投保时设定能覆盖风险审核的相关费用及其他必要成本的最低保费。(不少于1000元)</p>
            </li>
            <li>
                <h6>可否退保?</h6>
                <p>法院未裁定执行保全的保单可退保，退保时应适当收取最低保费。法院已裁定执行保全的保单不可退保。</p>
            </li>
            <li>
                <h6>保全标的不可分割，如何确定金额?</h6>
                <p>如果存在不可分割的标的，法院执行保全金额高于申请金额的，应按照实际保全金额计收/批增保费。法院执行保全金额低于申请金额的，在法院同意退回原保函的前提下，可批减保费，并重新出具保函，否则不应予以批减。</p>
            </li>
            <li>
                <h6>财产保全申请落空，怎么办?</h6>
                <p>
                    因投保人申请财产线索存在疏漏，或被保全人提前转移财产等情况，可能发生财产保全无法执行或无法全额执转移在提前行。就此，投保人可能提出部分或全额退保处理原则如下:
                    <br>
                    (1)申请保全财产包括银行存款的，不应以保全时的财产金额未达到保全申请金额为由，做任何退保、降低保额的处理。因为银行账户金额是变动的，保全当时不足额，不代表整个保险期间都不足额。
                    <br>
                    (2)申请保全财产为指定的某-项或多项土地、房屋等特定财产，而最终法院查实可保全的财产不足额或保全整体落空的(包括但不限于被申请人提前转移财产等凭法院退回的保单保函或要求减额重新开具保单保函的证明，可以办理退的保单保或批减。但应当注意，原开具的保单保函必须收回，且保单约定的最低保费必须保留。
                </p>
            </li>
        </ul>
    </div>

</section>
<section class="fixed_btn">
    <a href="javascript:;" onclick="aaplay('find_preservation_apply.html')" class="online_apply">在线申请</a>
</section>


</body><include file="Public/userfooter" /><script type="text/javascript" src="__JS__/lawyer_user.js"></script>
<script>


   
</script>
</html>