<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer_user.css" />
    <script type="text/javascript" src="__JS__/api.js"></script>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/jquerysession.js"></script>

    <script type="text/javascript" src="__JS__/mobile.js"></script>
    <script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
    <script type="text/javascript" src="__JS__/ajaxupload.3.5.js" ></script>
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

</head>
<body>
<header class="header">
    <a href="{:U('User/login_account')}" class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
    <h2>找回密码</h2>
    <!--<a href="javascript:void(0);" onclick="aaplay('index','login_tel.html')" class="qiandao_btn">直接登录</a>-->
</header>
<section class="login_section">
    <div class="fyb_logo"><img src="__IMG__/fyb_logo.png" alt=""></div>
    <div class="login_box">
        <ul>
            <li class="username"><input type="text" placeholder="请输入手机号" name="phone" id='phone'></li>
            <li class="tel_code"><input type="text" placeholder="请输入验证码"><span id='regyzm'>获取验证码</span></li>
            <li class="tel_code"><input style="width: 100%;" name="pwd" type="password" placeholder="请设置密码"></li>
            <li class="user_code"><input type="password" name="npwd" placeholder="再次输入新密码"></li>
        </ul>
        <button class="login_submit" onclick="changePwd()" style="margin-top: 1rem" type="submit">确认</button>
    </div>

</section>

<!--<include file="Public/userfooter" />-->
<script type="text/javascript" src="__JS__/lawyer_user.js"></script>

</body>
<script>

    $('#regyzm').click(function () {
        if($(this).hasClass('regyzm')==false){
            var phone=$('input[name=phone]').val();
            if(phone==''){
                api.alert({msg:"请输入手机号！"});return;
            }else if(!/^1[345678]\d{9}$/.test(phone)){
                api.alert({msg:"手机号格式错误！"});return;
            }

            var p={phone:phone,type:1};
            $.post(webSiteUrl+'/app/public/yzm',p,function(ret){
                if(ret.code==200){

                    $('#regyzm').addClass('regyzm');
                    var num=60;
                    timer=setInterval(function(){
                        $('#regyzm').html(num+'秒');
                        num--;
                        if(num==0){
                            clearInterval(timer);
                            timer=null;
                            $('#regyzm').html('重新获取');
                            $('#regyzm').removeClass('regyzm');
                        }
                    },1000)

                    alert(ret.msg);


                }else{alert(ret.msg)}
            });

        }
    })
    function changePwd(){
        var phone=$("input[name=phone]").val();
        var yzm=$("input[name=yzm]").val();
        var pwd=$("input[name=pwd]").val();
        var npwd=$("input[name=npwd]").val();
        if(phone==''){
            alert("请输入手机号！");return;
        }/*else if(!/^1[345678]\d{9}$/.test(phone)){
            alert("手机号格式错误！");return;
        }*//*else if(yzm==''){
            alert("请输入验证码！");return;
        }*/
        if(pwd !=npwd){
            alert("两次密码不一致，请重新输入！");return;
        }

        var p={phone:phone, yzm:yzm, password:pwd};
        console.log(p);
        $.post(webSiteUrl+'/app/public/forgeter',p,function(ret){
            //var ret=jQuery.parseJSON(ret);
            if(ret.code==200){
                alert(ret.msg)
                location.href='/home/user/login_account';

            }else{alert(ret.msg)}
        });

    }
</script>
</html>