<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer_user.css" />
    <script type="text/javascript" src="__JS__/api.js"></script>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/mobile.js"></script><script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script><script type="text/javascript" src="__JS__/ajaxupload.3.5.js" ></script><script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

</head>
<body>
<header class="header">
    <a href="javascript:void(0);"  class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
    <h2>送心意</h2>
    <!--<a href="javascript:void (0);" class="search_btn set_btn">设置</a>-->
</header>
<section class="buy_order">
    <div class="provider">
        <img src="__IMG__/userimg1.jpg"  id="icon">
        <div class="provider_info">
            <p id="nickname">张岳伦律师</p>
            <span id="servertype">送心意</span>
        </div>

    </div>

    <div class="pay_price">
        <p>送心意金额(元)</p>
        <input type="text" value="{$Think.get.money}" name="money" disabled>
    </div>
    <div class="pay_kinds">
        <h6>选择支付方式</h6>
        <div class="pay_list">
            <ul>
                <li>
                    <div class="pay">
                        <img src="__IMG__/pay1.png" alt="">
                        <div class="pay_info">
                            <p>支付宝</p>
                            <span>绿色送心意通道，安全便捷</span>
                        </div>
                    </div>
                    <span class="checkbox"></span>
                </li>
                <li>
                    <div class="pay">
                        <img src="__IMG__/pay2.png" alt="">
                        <div class="pay_info">
                            <p>微信</p>
                            <span>绿色送心意通道，安全便捷</span>
                        </div>
                    </div>
                    <span class="checkbox"></span>
                </li>
                <li>
                    <div class="pay">
                        <img src="__IMG__/pay4.png" alt="">
                        <div class="pay_info">
                            <p>余额支付</p>
                            <span></span>
                        </div>
                    </div>
                    <span class="checkbox"></span>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="fixed_btn">
    <a href="javascript:void (0);">确认送心意</a>
</section>


</body><include file="Public/userfooter" /><script type="text/javascript" src="__JS__/lawyer_user.js"></script>
<script>

    var type=0;

    lawyer_info()

    function lawyer_info() {
        var p={id:para('id')};
        $.post(webSiteUrl+'/app/public/lawyer_info',p,function(ret){
            if(ret.code==200){

                $('#icon').attr('src', webSiteUrl+ret.data.icon);
                $('#nickname').html(ret.data.nickname+'律师');
            }
        });

    }

    $('.fixed_btn').click(function(){
        loginCheck()
        var money = $('input[name=money]').val();
        if(type == 0){
            alert('请选择支付方式！');return;
        }

        $.post("/Home/Ajax/order",{pay_type:type,type:10,money:money,sid:para('id')},function(res){
            var res=jQuery.parseJSON(res);
            if(res.code == 200){
                var orderno=res.msg
                if(type==1){
                    location.href = '/Home/Pay/testpay/orderno/' + orderno;
                }else if(type==2){
                    if(isWeiXin()){
                        location.href = '/Home/Pay/tel_wx_pay/orderno/' + orderno;
                    }else{
                        location.href = '/Home/Pay/wxh5pay/orderno/' + orderno;
                    }
                }else{
                    location.href = '/Home/user/yepay/orderno/' + orderno;
                }


            }else{
                alert(res.msg);return false;

            }

        });

    });

    //选择支付方式
    $(".pay_list li").click(function () {
        if($(this).find('.checkbox').length>0){
            $(this).addClass('active').siblings('li').removeClass('active');

            type=parseInt($(this).index()+1)
            console.log(type)
        }
    });

</script>
</html>