<!DOCTYPE HTML>
<html style="background: #f9f9f9">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer_user.css" />
    <script type="text/javascript" src="__JS__/api.js"></script>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/mobile.js"></script><script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script><script type="text/javascript" src="__JS__/ajaxupload.3.5.js" ></script><script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

</head>
<body style="background: #f9f9f9">
<header class="header">
    <a href="javascript:void(0);"  class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
    <h2>公告</h2>
    <!--<a href="javascript:void(0);" class="qiandao_btn">注册</a>-->
</header>

<section class="notice">
    <div class="notice_list">
        <ul id="con">

        </ul>
    </div>
</section>


</body><include file="Public/userfooter" /><script type="text/javascript" src="__JS__/lawyer_user.js"></script>

<script>
    var page=1
    toDoRequest();

    function toDoRequest(){
        var p={page:page}
        $.post(webSiteUrl+'/app/public/mindgonggao',p,function(ret){
            if(ret.code==200){

                html = "";
                var tj=ret.data;
                if(tj != null){

                    for(var i=0;i<tj.length;i++){
html+='<li onclick="lawyer('+tj[i].sid+')"><div class="notice_info"><img src="'+webSiteUrl+tj[i].icon+'" alt=""><div class="info"><p>'+tj[i].name+'律师</p><span>'+tj[i].time+'</span></div><em>'+tj[i].money+'元</em></div><p class="notice_content">恭喜'+tj[i].name+'律师收到用户'+tj[i].phone+'的 <i>'+tj[i].money+'元</i> 心意</p></li>';
                    }
                }
                if(page==1){
                    $('#con').html(html);
                }else{
                    $('#con').append(html);
                }
                page++;


            }else{
                if(page==1){
                    $('#con').html('<p style="text-align:center">暂无数据</p>');
                }

            }
        });

    }

   
</script>
</html>