<!DOCTYPE HTML>
<html style="background: #f9f9f9">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer_user.css" />
    <script type="text/javascript" src="__JS__/api.js"></script>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/mobile.js"></script><script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script><script type="text/javascript" src="__JS__/ajaxupload.3.5.js" ></script><script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

</head>
<body style="background: #f9f9f9">
<header class="header">
    <a href="javascript:void(0);"  class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
    <h2>支付保证金</h2>
    <!--<a href="javascript:void(0);" class="qiandao_btn">注册</a>-->
</header>
<section class="flow_section">
    <div class="flow_list">
        <ul>
            <li><em>1</em><p>填写信息</p></li>
            <li><em>2</em><p>支付定金</p></li>
            <li><em>3</em><p>律师竞标</p></li>
            <li><em>4</em><p>律师签约</p></li>
        </ul>
    </div>
</section>
<section class="buy_order">
    <div class="product">
        <img src="__IMG__/fyb_img.png" alt="">
        <div class="product_info">
            <p>法援宝</p>
            <span>委托保证金</span>
        </div>
    </div>
    <div class="pay_price">
        <p>支付金额</p>
        <span id="money">￥199.00</span>
    </div>
    <div class="pay_kinds">
        <h6>选择支付方式</h6>
        <div class="pay_list">
            <ul>
                <li>
                    <div class="pay">
                        <img src="__IMG__/pay1.png" alt="">
                        <div class="pay_info">
                            <p>支付宝</p>
                            <span>绿色充值通道，安全便捷</span>
                        </div>
                    </div>
                    <span class="checkbox"></span>
                </li>
                <li>
                    <div class="pay">
                        <img src="__IMG__/pay2.png" alt="">
                        <div class="pay_info">
                            <p>微信</p>
                            <span>绿色充值通道，安全便捷</span>
                        </div>
                    </div>
                    <span class="checkbox"></span>
                </li>
               <li>
                    <div class="pay">
                        <img src="__IMG__/pay3.png" alt="">
                        <div class="pay_info">
                            <p>账户余额</p>
                            <span></span>
                        </div>
                    </div>
                    <span class="tips"></span>
                   <span class="checkbox"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="pay_coupon">
        <p>选择优惠券</p>
        <span>不可用优惠券</span>
    </div>
    <div class="pay_deduction">
        <p>用邀请奖励余额抵扣</p>
        <span class="checkbox"></span>
    </div>
    <div class="reminder">
        <h6>温馨提示：</h6>
        <p>
            1、有律师参与竞标时，委托保证金不予退款；<br>
            2、平台仅为双方提供信息对接和监督服务，所需发票由律师所在律所出具；<br>
            3、当您对律师服务不满意或拒绝支付律师费时，平台有权依据律师工作记录决定是否支付律师费；<br>
            4、确认支付后，还需您确认“委托完成”，确认后平台将会把委托律师费支付给委托律师。<br>
            5、若支付金额过大，无法使用支付宝，微信进行支付，建议采用分次充值至本地钱包，通过账户余额支付。
        </p>
    </div>
    <div class="pay-result">
        <p>总金额：￥<em class="donation_price">199.00</em></p>
        <button id="pay">确认支付</button>
    </div>
</section>

</body><include file="Public/userfooter" /><script type="text/javascript" src="__JS__/lawyer_user.js"></script>
<script>
    var money=para('money')
    $('#money').html('￥ '+money)
    $('.donation_price').html(money)

    var t=0;
    $('#pay').click(function(){
        if(!loginCheck()){
            return;
        }
        //var money = $('input[name=money]').val();
        if(t == 0){
            alert('请选择支付方式！');return;
        }
        var orderno=para('orderno');
        if(orderno != null){
            $.post("/Home/Ajax/order",{orderno:orderno,pay_type:t,type:8,money:para('money')},function(res){
                var res=jQuery.parseJSON(res);
                if(res.code == 200){
                    var orderno=res.msg
                    if(t==1){
                        location.href = '/Home/Pay/testpay/orderno/' + orderno;
                    }else if(t==2){
                        if(isWeiXin()){
                            location.href = '/Home/Pay/tel_wx_pay/orderno/' + orderno;
                        }else{
                            location.href = '/Home/Pay/wxh5pay/orderno/' + orderno;
                        }
                    }else{
                        location.href = '/Home/user/yepay/orderno/' + orderno;
                    }


                }else{
                    alert(res.msg);return false;

                }
            });
        }

    });

    //选择支付方式
    $(".pay_list li").click(function () {
        if($(this).find('.checkbox').length>0){
            $(this).addClass('active').siblings('li').removeClass('active');

            t=parseInt($(this).index()+1)

        }
    });
    //使用邀请抵扣
    $(".pay_deduction span").click(function () {
        if($(this).hasClass('active')){
            $(this).removeClass('active');
        }else {
            $(this).addClass('active');
        }
    })
</script>

</html>