<!DOCTYPE HTML>
<html style="background: #f3f3f3;" lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer_user.css" />
    <script type="text/javascript" src="__JS__/api.js"></script>

    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/mobile.js"></script><script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script><script type="text/javascript" src="__JS__/ajaxupload.3.5.js" ></script><script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

</head>
<body>
<header class="header">
    <a href="javascript:void(0);"  class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
    <h2>提现</h2>
    <!--<a href="javascript:void (0);" class="search_btn set_btn">设置</a>-->
</header>
<section class="buy_order">
    <div class="product">
        <img src="__IMG__/fyb_img.png" alt="">
        <div class="product_info">
            <p>法援宝</p>
            <span>余额提现</span>
        </div>
    </div>
    <div class="pay_price">
        <p>提现金额(元)</p>
        <input type="text" placeholder="请输入金额"  id='money' name="money">
    </div>
    <div class="pay_price">
        <p>真实姓名</p>
        <input type="text" placeholder="请填写真实姓名"  id='name' name="name">
    </div>
    <div class="pay_kinds">
        <h6>提现到</h6>
        <div class="pay_list">
            <ul>
                <li>
                    <div class="pay">
                        <img src="__IMG__/pay1.png" alt="">
                        <div class="pay_info">
                            <p>支付宝</p>
                        </div>
                    </div>
                    <span id="cardno"></span>
                </li>
                <!--<li>
                    <div class="pay">
                        <img src="__IMG__/pay2.png" alt="">
                        <div class="pay_info">
                            <p>微信</p>
                        </div>
                    </div>
                    <span class="checkbox"></span>
                </li>-->
                <!--<li>
                    <div class="pay">
                        <img src="__IMG__/pay4.png" alt="">
                        <div class="pay_info">
                            <p>银行卡</p>
                        </div>
                    </div>
                    <span id="cardno"></span>
                    <span class="checkbox"></span>
                </li>-->
                
            </ul>
			<input type="hidden" name="pay_type" value="2" />
        </div>
    </div>
</section>
<section class="reminder">
    <h6>温馨提示：</h6>
    <p>
        1、最低限额200元；<br> 2、提现手续费1%；<br> 3、若您充值未产生消费，可联系客服要求原路原值退回。
    </p>
</section>
<section class="fixed_btn">
    <a href="javascript:void (0);">确认提现</a>
</section>


</body><include file="Public/userfooter" /><script type="text/javascript" src="__JS__/lawyer_user.js"></script>
<script>
    loginCheck()
    var type=0;

    user()

    function user() {
        var p={token:token,infock:2};
        $.post(webSiteUrl+'/app/user/user',p,function(ret){
            if(ret.code==200){
                //alert(JSON.stringify(ret.data));
                var cardno=ret.data.zfb;


                if(cardno != '' && cardno != null){
                    $("#cardno").html(cardno);
                }else{
                    alert('您尚未绑定支付宝，无法提现');
					window.location.href = '/Home/User/personal_info.html';
                }

            }
        });

    }

    $('.fixed_btn').click(function(){
        var name = $('input[name=name]').val();
        var money = $('input[name=money]').val();
		var pay_type = $('input[name=pay_type]').val();

        if(name == ''){
            alert('请输入姓名！');return;
        }
        if(money == ''){
            alert('请输入金额！');return;
        }else if(!/^\d+$/.test(money)){
            alert('金额必须是数字！');return;
        }else if(money<200){
            alert('提现最低限额200元！');return;
        }
		if(pay_type == ''){
		
			alert('请选择提现方式！');return;
		}
		
        var p={token:token,model:'tixian',name:name,money:money,pay_type:pay_type};
        $.post(webSiteUrl+'/app/user/apply',p,function(ret){
            if(ret.code == 200){
                alert(ret.msg);
				window.location.href = '/Home/User/personal_mind';

            }else{
                alert(ret.msg);

            }

        });

    });


    //选择支付方式
    $(".pay_list li").click(function () {
	

	
        if($(this).find('.checkbox').length>0){
            $(this).addClass('active').siblings('li').removeClass('active');
        }
    });

</script>
</html>