<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer_user.css" />
    <script type="text/javascript" src="__JS__/api.js"></script>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/mobile.js"></script><script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script><script type="text/javascript" src="__JS__/ajaxupload.3.5.js" ></script><script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

</head>
<body>
<header class="header">
    <a href="javascript:void(0);"  class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
    <h2>邀请统计</h2>
    <!--<a href="javascript:void (0);" class="search_btn set_btn">设置</a>-->
</header>
<section class="info_kinds">
    <div class="info">
        <ul>
            <li class="active"><a href="javascript:;" onclick="aaplay('personal_distribution_profit.html')">收益统计</a></li>
            <li class=""><a href="javascript:;" onclick="aaplay('personal_distribution_invite.html')">邀请统计</a></li>
        </ul>
    </div>
</section>
<div id="con">

</div>
<section class="statistics">
    <div class="statistics_time">
        <div class="time">
            <p>累计收益</p>
            <span>1587.00元</span>
        </div>
        <a href="javascript:void (0);" class="date_btn"><img src="__IMG__/date_icon.png" alt=""></a>
    </div>
    <div class="user_info">
        <ul>
            <li>
                <a href="javascript:;">
                    <img src="__IMG__/infoImg1.png" alt="">
                    <div class="info">
                        <p>138****8868</p>
                        <span>2017-6-1 09:35</span>
                    </div>
                    <div class="money_sum">
                        <span>+8.66元</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="__IMG__/infoImg2.png" alt="">
                    <div class="info">
                        <p>138****8868</p>
                        <span>2017-6-1 09:35</span>
                    </div>
                    <div class="money_sum">
                        <span>+8.66元</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="__IMG__/infoImg3.png" alt="">
                    <div class="info">
                        <p>138****8868</p>
                        <span>2017-6-1 09:35</span>
                    </div>
                    <div class="money_sum">
                        <span>+8.66元</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="__IMG__/infoImg4.png" alt="">
                    <div class="info">
                        <p>138****8868</p>
                        <span>2017-6-1 09:35</span>
                    </div>
                    <div class="money_sum">
                        <span>+8.66元</span>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</section>
<section class="statistics">
    <div class="statistics_time">
        <div class="time">
            <p>10月收益</p>
            <span>1587.00元</span>
        </div>
    </div>
    <div class="user_info">
        <ul>
            <li>
                <a href="javascript:;">
                    <img src="__IMG__/infoImg1.png" alt="">
                    <div class="info">
                        <p>138****8868</p>
                        <span>2017-6-1 09:35</span>
                    </div>
                    <div class="money_sum">
                        <span>+8.66元</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="__IMG__/infoImg2.png" alt="">
                    <div class="info">
                        <p>138****8868</p>
                        <span>2017-6-1 09:35</span>
                    </div>
                    <div class="money_sum">
                        <span>+8.66元</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="__IMG__/infoImg3.png" alt="">
                    <div class="info">
                        <p>138****8868</p>
                        <span>2017-6-1 09:35</span>
                    </div>
                    <div class="money_sum">
                        <span>+8.66元</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="__IMG__/infoImg4.png" alt="">
                    <div class="info">
                        <p>138****8868</p>
                        <span>2017-6-1 09:35</span>
                    </div>
                    <div class="money_sum">
                        <span>+8.66元</span>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</section>

</body><include file="Public/userfooter" /><script type="text/javascript" src="__JS__/lawyer_user.js"></script>
<script>


    
</script>
</html>