<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer_user.css" />
    <script type="text/javascript" src="__JS__/api.js"></script>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/mobile.js"></script><script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script><script type="text/javascript" src="__JS__/ajaxupload.3.5.js" ></script><script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

</head>
<body>
<header class="header">
    <a href="javascript:void(0);"  class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
    <h2>已完成</h2>
    <!--<a href="ask_page_myAnswer.html" class="myAnswer_btn">我的回答</a>-->
</header>
<section class="order_section">
    <div class="order_list">
        <ul id="list">
           
            <!-- <li>
                <p>订单号：2524556842  <span class="fr" style="color: #333;">已完成</span></p>
                <div class="order_info">
                    <img src="__IMG__/userimg2.jpg" alt="">
                    <div class="info">
                        <h6>方大同律师</h6>
                        <span>代写文书</span>
                    </div>
                </div>
                <div class="order_active">
                    <span>您对律师的服务满意吗？</span>
                    <div class="active_btn">
                        <a href="##" class="no_btn">申请售后</a>
                        <a href="##" class="yes_btn">去评价</a>
                    </div>
                </div>
            </li> -->
           


        </ul>
    </div>
</section>
</body><include file="Public/userfooter" /><script type="text/javascript" src="__JS__/lawyer_user.js"></script>
<script>

    loginCheck()
        
        yiwancheng();



    //已完成
    function yiwancheng(){
        var p = {token:token,status:4};
        $.post(webSiteUrl+'/app/user/uaskorder',p,function(ret){
        
            if (ret.code == 200) {
                var list = ret.data;
                var html = '';
                if (list != null) {
                    for (var i =0;i< list.length; i++) {
                        html += '<li><p>订单号：'+list[i].orderno+'  <span class="fr" style="color: #333;">已完成</span></p><div onclick="lookDetails('+list[i].id+')" class="order_info"><img src="'+list[i].icon+'" alt=""><div class="info"><h6>'+list[i].name+'</h6><span>'+list[i].ordertype+'</span></div></div><div class="order_active"><span>您对律师的服务满意吗？</span><div class="active_btn"><a onclick="shenqin('+list[i].id+')" class="no_btn">申请售后</a><a onclick="pingjia('+list[i].id+')" class="yes_btn">去评价</a></div></div></li>';
                    }

                    $('#list').html(html);
                }
            }else{
                $('#list').html('<p style="text-align:center">暂无数据</p>');
            }
        });
    }

    //申请售后
    function shenqin(id){
        location.href='/home/user/personal_myOrder_finished_afterSale.html?id='+id
       
    }

    //评价
    function pingjia(id){
        location.href='/home/user/personal_myOrder_evaluate_edit.html?id='+id+'&type=3'
        
    }
    //查看详情
    function lookDetails(id) {
        location.href='/home/User/chakan?id='+id+'&type=1';
    }


</script>
</html>