<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer_user.css" />
    <script type="text/javascript" src="__JS__/api.js"></script>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/mobile.js"></script><script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script><script type="text/javascript" src="__JS__/ajaxupload.3.5.js" ></script><script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

</head>
<body>
<header class="header">
    <a href="javascript:void(0);"  class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
    <h2>我的委托</h2>
    <!--<a href="ask_page_myAnswer.html" class="myAnswer_btn">我的回答</a>-->
</header>

<section class="order_kinds entrust_kinds">
    <ul>
        <li><a href="javascript:;" onclick="aaplay('bidding_payment')">待付款</a></li>
        <li><a href="javascript:;" onclick="aaplay('bidding')">竞标完成</a></li>
        <li><a href="javascript:;" onclick="aaplay('bidding_ing')">正在进行</a></li>
        <li><a href="javascript:;" onclick="aaplay('bidding_closed')">已关闭</a></li>
        <li><a href="javascript:;" onclick="aaplay('bidding_completed')">已完成</a></li>
    </ul>
</section>

<section class="fixed_btn">
    <a onclick="aaplay('release_entrusted')">发起委托</a>
</section>

</body><include file="Public/userfooter" /><script type="text/javascript" src="__JS__/lawyer_user.js"></script>
<script>


   
</script>
</html>