<!DOCTYPE HTML>
<html style="background: #f3f3f3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>法援宝</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/api.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/lawyer_user.css" />
    <script type="text/javascript" src="__JS__/api.js"></script>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/mobile.js"></script><script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script><script type="text/javascript" src="__JS__/ajaxupload.3.5.js" ></script><script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>

</head>
<body style="background: #f3f3f3">
<header class="header">
    <a href="javascript:void(0);"  class="back_btn"><img src="__IMG__/head-fanhui.png" alt=""></a>
    <h2>设置</h2>
    <!--<a href="javascript:;" class="tel_btn">保存</a>-->
</header>

<section class="setting">
    <ul>
        <li><a href="javascript:;" onclick="aaplay('szzfmm.html')">设置支付密码</a></li>
        <li><a href="javascript:;" onclick="aaplay('personal_setting_question.html')">常见问题</a></li>
        <li><a href="javascript:;" onclick="aaplay('personal_setting_suggestion.html')">意见反馈</a></li>
        <li><a href="javascript:;" onclick="aaplay('gywm.html')">关于我们</a></li>
    </ul>
</section>

<section class="fixed_btn">
    <a href=javascript:void(0); onclick="logout()">退出登录</a>
</section>

</body><include file="Public/userfooter" /><script type="text/javascript" src="__JS__/lawyer_user.js"></script>
<script>
    function logout(){

        $.post("/Home/Ajax/logout",function(res) {
            var res=jQuery.parseJSON(res);
            if(res.code == 200){
                alert(res.msg)
                location.href='/home/public/login_account';
            }
        })

    }

</script>
</html>