<extend name="Public/base"/>

<block name="body">

    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title">
        <h2>修改（{$vo.name}）服务项目</h2>
    </div>
    <ul class="tab-nav nav">

        <li class="current"><a href="javascript:void(0)">基本信息</a></li>

    </ul>

    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="tab-content">
            <div class="form-item">
                <label class="item-label">服务项目名称<span class="check-tips">（必须填写）</span></label>
                <div class="controls">
                    <input type="text" class="text input-large" name="name" value="{$vo['name']}">
                    <input type="hidden" name="id" value="{$vo.id}" />
                </div>
            </div>
            <div class="form-item">
                <label class="item-label">服务费金额<span class="check-tips">（必须填写）</span></label>
                <div class="controls">
                    <input type="text" class="text input-large" name="money" value="{$vo.money}">
                </div>
            </div>
			<div class="form-item">
            <label class="item-label">服务描述<span class="check-tips">（必须填写）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="description" value="{$vo.description}">
            </div>
        </div>
			<div class="controls">
						<label class="item-label">服务图标</label>
						<input type="file" id="upload_picture">
						<input type="hidden" name="icon" id="icon" value="{$vo['icon']|default=''}"/>
						<div class="upload-img-box">
						<notempty name="vo['icon']">
							<div class="upload-pre-item"><img src="__ROOT__{$vo.icon|get_cover='path'}"/></div>
						</notempty>
						</div>
					</div>
					<script type="text/javascript">
					//上传图片
				    /* 初始化上传插件 */
					$("#upload_picture").uploadify({
				        "height"          : 30,
				        "swf"             : "__STATIC__/uploadify/uploadify.swf",
				        "fileObjName"     : "download",
				        "buttonText"      : "上传图片",
				        "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
				        "width"           : 120,
				        'removeTimeout'	  : 1,
				        'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
				        "onUploadSuccess" : uploadPicture,
				        'onFallback' : function() {
				            alert('未检测到兼容版本的Flash.');
				        }
				    });
					function uploadPicture(file, data){
				    	var data = $.parseJSON(data);
				    	var src = '';
				        if(data.status){
				        	$("#icon").val(data.id);
				        	src = data.url || '__ROOT__' + data.path;
				        	$("#icon").parent().find('.upload-img-box').html(
				        		'<div class="upload-pre-item"><img src="' + src + '"/></div>'
				        	);
				        } else {
				        	updateAlert(data.info);
				        	setTimeout(function(){
				                $('#top-alert').find('button').click();
				                $(that).removeClass('disabled').prop('disabled',false);
				            },1500);
				        }
				    }
					</script>
			<div class="form-item">
                <label class="item-label">是否紧急：<span class="check-tips">（紧急时有单独的紧急金额）</span></label>
                <div class="controls">
                    <label class="checkbox"><input type="radio" name="is_urgent" value="1" <if condition="$vo['is_urgent'] eq 1">checked</if> />不紧急</label>
                    <label class="checkbox"><input type="radio" name="is_urgent" value="2" <if condition="$vo['is_urgent'] eq 2">checked</if> />紧急</label>
                </div>
            </div>
			<div class="form-item urgent" style="display:none;">
                <label class="item-label">紧急服务费金额<span class="check-tips">（紧急服务费金额）</span></label>
                <div class="controls">
                    <input type="text" class="text input-large" name="urgent_money" value="{$vo.urgent_money}">
                </div>
            </div>
           <!-- <div class="form-item">
                <label class="item-label">收取比例<span class="check-tips">（百分比 %）</span></label>
                <div class="controls">
                    <input type="text" class="text input-large" name="bili" value="{$vo['bili']}">
                </div>
            </div>-->


            <div class="form-item">
                <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
                <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
            </div>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript">
		var val = $('input[name=is_urgent]:checked').val();
			if(val == 2){
				$('.urgent').show();
			}else{
				$('.urgent').hide();
			}
	
		$('input[name=is_urgent]').change(function(){
		
			var val = $(this).val();
			if(val == 2){
				$('.urgent').show();
			}else{
				$('.urgent').hide();
			}
		
		});
	
        //导航高亮
        highlight_subnav('{:U('Feept/index')}');

    </script>
</block>
